In [1]:
import numpy as np
import pandas as pd

In [5]:
root_path = 'D:/Desktop/imf/專題/data/AHS/'
usecols = ['CONTROL', 'VALUE', 'UNITSF', 'RAM', 'ZINC2']

result = pd.DataFrame()
for year in range(2001, 2015, 2):
    try:
        if year == 2011:
            data_chunks = pd.read_csv(f'{root_path}AHS {year} National PUF v3.0 CSV/household.csv', usecols=usecols, chunksize=1000, low_memory=False)
        else:
            data_chunks = pd.read_csv(f'{root_path}AHS {year} National PUF v2.0 CSV/household.csv', usecols=usecols, chunksize=1000, low_memory=False)
        
        chunk_list = []
        for data_chunk in data_chunks:
            # operation
            data_chunk = data_chunk.drop(data_chunk[data_chunk.RAM == "'-6'"].index)

            chunk_list.append(data_chunk)
        
        temp = pd.concat(chunk_list).rename(columns=dict(zip(usecols, list(map(lambda x: x if x == 'CONTROL' else x + str(year), usecols)))))
        if result.empty:
            result = temp
        else:
            result = pd.merge(left=result, right=temp, how='outer')
    except Exception as e:
        print(e)

print(result)
file_name = 'AHS.csv'
result.to_csv(file_name, index=False)

              CONTROL  UNITSF2001 RAM2001 VALUE2001  ZINC22001  UNITSF2003  \
0      '100029370149'      2500.0     '2'    185000     6000.0      2500.0
1      '100049180149'      4000.0     '2'    325000   297379.0      4000.0
2      '100121340142'      2000.0     '2'    285000   408065.0      2000.0
3      '100126110140'      3405.0     '2'    280000     1400.0      3405.0
4      '100168130146'      2800.0     '2'    199500        0.0      2800.0
...               ...         ...     ...       ...        ...         ...
16796  '999900056601'         NaN     NaN       NaN        NaN         NaN
16797  '999900056620'         NaN     NaN       NaN        NaN         NaN
16798  '999900056638'         NaN     NaN       NaN        NaN         NaN
16799  '999900056663'         NaN     NaN       NaN        NaN         NaN
16800  '999900056749'         NaN     NaN       NaN        NaN         NaN

      RAM2003 VALUE2003  ZINC22003  UNITSF2005  ... VALUE2009 ZINC22009  \
0         '2'    180000     2280.0         NaN  ...       NaN       NaN
1         '2'    288000   186100.0      4000.0  ...  400000.0   97000.0
2         '2'    320000   385122.0         NaN  ...       NaN       NaN
3         '2'    190000    25000.0      3405.0  ...  300000.0     100.0
4         '2'    200000    17208.0      2800.0  ...  550000.0   27050.0
...       ...       ...        ...         ...  ...       ...       ...
16796     NaN       NaN        NaN         NaN  ...       NaN       NaN
16797     NaN       NaN        NaN         NaN  ...       NaN       NaN
16798     NaN       NaN        NaN         NaN  ...       NaN       NaN
16799     NaN       NaN        NaN         NaN  ...       NaN       NaN
16800     NaN       NaN        NaN         NaN  ...       NaN       NaN

       ZINC22011  UNITSF2011 RAM2011  VALUE2011  UNITSF2013  RAM2013  \
0            NaN         NaN     NaN        NaN         NaN      NaN
1        87880.0      4000.0     '2'     350000      4000.0      '2'
2            NaN         NaN     NaN        NaN         NaN      NaN
3            NaN         NaN     NaN        NaN         NaN      NaN
4         9000.0      2800.0     '2'     118000      2800.0     '-9'
...          ...         ...     ...        ...         ...      ...
16796        NaN         NaN     NaN        NaN       600.0      '2'
16797        NaN         NaN     NaN        NaN      3000.0      '2'
16798        NaN         NaN     NaN        NaN       550.0      '2'
16799        NaN         NaN     NaN        NaN      1800.0      ' '
16800        NaN         NaN     NaN        NaN      2000.0      '2'

      VALUE2013  ZINC22013
0           NaN        NaN
1        350000    32400.0
2           NaN        NaN
3           NaN        NaN
4         30000    77987.0
...         ...        ...
16796         1    26400.0
16797    250000    30000.0
16798    100000     3100.0
16799    100000      787.0
16800    350000     1489.0

[16801 rows x 29 columns]