In [1]:
import numpy as np
import pandas as pd

In [2]:
# 定義一些函數方便整理資料
def int_limit(ip, maximum=10*10, minimum=0):
    try:
        op = int(ip)
        if op > maximum or op < minimum:
            return None
        return op
    except:
        return None

def float_limit(ip, maximum=10*10, minimum=0):
    try:
        op = float(ip)
        if op > maximum or op < minimum:
            return None
        return op
    except:
        return None

In [3]:
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20H_H.DA', mode='r').read()))
arr = np.array([])
for i in range(11490):
    p = int_limit(''.join(H_H[(698 * i + 275) : (698 * i + 283)]), 9999998, 0)
    if p != None:
        arr = np.append(arr, [p], axis=0)
arr = np.sort(arr, axis=None)
bins = np.array([arr[75], arr[150], arr[225], arr[300], arr[375], arr[450], arr[525], arr[600], arr[675]])
print(bins)

[ 28000.  72500. 118000. 160000. 200000. 245000. 301000. 400000. 682000.]

In [4]:
def transfer(price):
    maps = lambda x: x < price
    temp = maps(bins)
    return sum(temp) + 1

In [17]:
# 1996, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\1996\h96da\H96A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\1996\h96da\H96B_R.DA', mode='r').read()))
CS_R = np.array(list(open('D:\Desktop\imf\專題\data\\1996\h96da\H96CS_R.DA', mode='r').read()))
R_R = np.array(list(open('D:\Desktop\imf\專題\data\\1996\h96da\H96R_R.DA', mode='r').read()))

data_1996_R = pd.DataFrame()
for i in range(10964):
    age = int_limit(''.join(A_R[(147 * i + 91) : (147 * i + 94)]), 200)
    healthcare_AMT = float_limit(''.join(R_R[(355 * i + 42) : (355 * i + 46)]), 9996)
    healthcare_freq = { '1': 1, '2': 4, '3': 52, '4': 12 }.get(''.join(R_R[355 * i + 46]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(R_R[(355 * i + 257) : (355 * i + 266)]), 9994)
    LTC_freq = { '1': 1, '2': 4, '3': 52, '4': 12 }.get(''.join(R_R[355 * i + 266]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(147 * i) : (147 * i + 6)]),
        'pn': ''.join(A_R[(147 * i + 6) : (147 * i + 9)]),
        'age_1996': age,
        'gender_1996': { '1': 'Male', '2': 'Female' }.get(''.join(CS_R[392 * i + 45]), None),
        'hh_size_1996': { '1': 2, '2': 2, '3': 2, '4': 1, '5': 1, '6': 1, '7': 1, '9': 1 }.get(''.join(CS_R[392 * i + 56]), None),
        'hl_sta_1996': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(B_R[243 * i + 25]), None),
        'cnhMove_1996': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(CS_R[392 * i + 54]), None),
        'mdc_expen_1996': mdc_expen
    }, index=[0])
    data_1996_R = pd.concat([data_1996_R, new], ignore_index=True)

# alter_data_1996_R = data_1996_R.dropna()
alter_data_1996_R = data_1996_R
maps = alter_data_1996_R['mdc_expen_1996'].groupby(alter_data_1996_R['id']).mean()
alter_data_1996_R = alter_data_1996_R.drop(['mdc_expen_1996'], axis=1)
alter_data_1996_R = alter_data_1996_R.merge(maps, how='inner', on='id')

# 1996, 以 household 為單位的回答
J_H = np.array(list(open('D:\Desktop\imf\專題\data\\1996\h96da\H96J_H.DA', mode='r').read()))
F_H = np.array(list(open('D:\Desktop\imf\專題\data\\1996\h96da\H96F_H.DA', mode='r').read()))

data_1996_H = pd.DataFrame()
for i in range(6816):
    ss = int_limit(''.join(J_H[(1350 * i + 320) : (1350 * i + 327)]), 9999996)
    p1 = int_limit(''.join(J_H[(1350 * i + 560) : (1350 * i + 567)]), 999996)
    p2 = int_limit(''.join(J_H[(1350 * i + 567) : (1350 * i + 574)]), 999996)
    o = int_limit(''.join(J_H[(1350 * i + 1078) : (1350 * i + 1085)]), 999996)
    ann = int_limit(''.join(J_H[(1350 * i + 1309) : (1350 * i + 1315)]), 999996)
    un_c = int_limit(''.join(J_H[(1350 * i + 168) : (1350 * i + 175)]), 9999996, 1)
    w_c = int_limit(''.join(J_H[(1350 * i + 244) : (1350 * i + 251)]), 9999996, 1)
    ssi = int_limit(''.join(J_H[(1350 * i + 368) : (1350 * i + 372)]), 9996)
    wel = int_limit(''.join(J_H[(1350 * i + 380) : (1350 * i + 386)]), 999996, 1)
    vbmp = int_limit(''.join(J_H[(1350 * i + 388) : (1350 * i + 394)]), 999996)
    li1 = int_limit(''.join(J_H[(1350 * i + 47) : (1350 * i + 54)]), 9999996)
    li2 = int_limit(''.join(J_H[(1350 * i + 59) : (1350 * i + 66)]), 9999996)
    li3 = int_limit(''.join(J_H[(1350 * i + 71) : (1350 * i + 78)]), 9999996)
    li4 = int_limit(''.join(J_H[(1350 * i + 83) : (1350 * i + 90)]), 9999996)
    li5 = int_limit(''.join(J_H[(1350 * i + 95) : (1350 * i + 102)]), 9999996)
    filter_list = filter(None, [ss, p1, p2, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(J_H[(1350 * i + 1197) : (1350 * i + 1204)]), 9999996)
    price = None
    value = int_limit(''.join(F_H[(394 * i + 56) : (394 * i + 64)]), 99999997)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(J_H[1350 * i + 1085]), None)
    rooms = int_limit(''.join(F_H[(394 * i + 250) : (394 * i + 252)]), 97)
    new = pd.DataFrame({
        'id': ''.join(J_H[(1350 * i) : (1350 * i + 6)]),
        'subhh': ''.join(J_H[1350 * i + 6]),
        'income_1996': income,
        'fs_hold_1996': fs_hold,
        'h_price_1996': price,
        'h_value_1996': value,
        'h_size_1996': s,
        'food_stamp_1996': food_stamp,
        'SS_1996': 1 if ss else ss,
        'welfare_1996': 1 if wel else wel,
        'w_c_1996': 1 if w_c else w_c,
        'HELC_1996': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(F_H[394 * i + 127]), None),
        'tenure_1996': { '1': 'own', '2': 'rent', '6': 'own', '7': 'neither', '8': 'dk', '9': 'rf' }.get(''.join(F_H[394 * i + 44]), None),
        'rooms_1996': rooms,
        'kitch_1996': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(F_H[394 * i + 249]), None)
    }, index=[0])
    data_1996_H = pd.concat([data_1996_H, new], ignore_index=True)
    
# alter_data_1996_H = data_1996_H.dropna()
alter_data_1996_H = data_1996_H
maps = alter_data_1996_H['income_1996'].groupby(alter_data_1996_H['id']).mean()
alter_data_1996 = alter_data_1996_R.merge(maps, how='inner', on='id')
alter_data_1996['income_1996'] = alter_data_1996.apply(lambda x: x['income_1996'] if x['hh_size_1996'] == 1 else x['income_1996'] * 1.48, axis=1)
maps = alter_data_1996_H.drop(['subhh', 'income_1996'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_1996 = alter_data_1996.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_1996['id'].unique(), 'num_person_1996': alter_data_1996['id'].groupby(alter_data_1996['id']).size().values})
alter_data_1996 = alter_data_1996.merge(maps, how='inner', on='id')
print(alter_data_1996)

           id   pn age_1996 gender_1996  hh_size_1996 hl_sta_1996  \
0      000002  010       62      Female             1           2
1      000003  010       60        Male             2           2
2      000003  020       58      Female             2           2
3      010001  010       57        Male             1           1
4      010003  020       62        Male             2           1
...       ...  ...      ...         ...           ...         ...
10959  098802  010       64        Male             2           2
10960  098802  040       69      Female             2           2
10961  098859  020       58        Male             1           2
10962  099231  010       56        Male             1           1
10963  099564  010       62      Female             1           1

      cnhMove_1996  mdc_expen_1996  income_1996 fs_hold_1996  ... h_size_1996  \
0                n             NaN       483.00         None  ...        None
1                n           650.0      5920.00         None  ...        None
2                n           650.0      5920.00         None  ...        None
3                n             NaN      4224.00         None  ...        None
4                n             NaN         0.00         None  ...        None
...            ...             ...          ...          ...  ...         ...
10959            n             NaN      1249.12         None  ...        None
10960            n             NaN      1249.12         None  ...        None
10961            n             NaN       575.00         None  ...        None
10962            n             NaN     40000.00         None  ...        None
10963            n            65.0     40000.00         None  ...        None

      food_stamp_1996 SS_1996 welfare_1996 w_c_1996 HELC_1996 tenure_1996  \
0                   n       1         None     None      None     neither
1                   n    None         None     None         n         own
2                   n    None         None     None         n         own
3                   y    None            1     None         n         own
4                   n    None         None     None         n         own
...               ...     ...          ...      ...       ...         ...
10959               n       1         None     None         n         own
10960               n       1         None     None         n         own
10961               y       1         None     None      None        rent
10962               n    None         None     None         y         own
10963               n    None         None     None         n         own

      rooms_1996 kitch_1996 num_person_1996
0           None       None               1
1           None       None               2
2           None       None               2
3           None       None               1
4           None       None               2
...          ...        ...             ...
10959       None       None               2
10960       None       None               2
10961       None       None               1
10962       None       None               1
10963          4          y               1

[10964 rows x 22 columns]

In [18]:
# 1998, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\1998\h98da\H98A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\1998\h98da\H98B_R.DA', mode='r').read()))
CS_R = np.array(list(open('D:\Desktop\imf\專題\data\\1998\h98da\H98CS_R.DA', mode='r').read()))
R_R = np.array(list(open('D:\Desktop\imf\專題\data\\1998\h98da\H98R_R.DA', mode='r').read()))

data_1998_R = pd.DataFrame()
for i in range(21384):
    age = int_limit(''.join(A_R[(193 * i + 98) : (193 * i + 101)]), 200)
    healthcare_AMT = float_limit(''.join(R_R[(312 * i + 60) : (312 * i + 64)]), 9996)
    healthcare_freq = { '1': 1, '2': 4, '3': 6, '4': 12, '5': 52, '6': 26, '7': 2, '8': 24 }.get(''.join(R_R[(312 * i + 64) : (312 * i + 66)]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(R_R[(312 * i + 214) : (312 * i + 223)]), 9996)
    LTC_freq = { '1': 1, '2': 4, '3': 52, '4': 12 }.get(''.join(R_R[312 * i + 223]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(193 * i) : (193 * i + 6)]),
        'pn': ''.join(A_R[(193 * i + 6) : (193 * i + 9)]),
        'age_1998': age,
        'gender_1998': { '1': 'Male', '2': 'Female' }.get(''.join(CS_R[153 * i + 37]), None),
        'hh_size_1998': { '0': 1, '1': 2, '2': 2, '3': 1, '4': 1, '5': 1, '6': ' ' }.get(''.join(CS_R[153 * i + 52]), None),
        'hl_sta_1998': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(B_R[255 * i + 24]), None),
        'cnhMove_1998': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(CS_R[153 * i + 47]), None),
        'mdc_expen_1998': mdc_expen
    }, index=[0])
    data_1998_R = pd.concat([data_1998_R, new], ignore_index=True)

# alter_data_1998_R = data_1998_R.dropna()
alter_data_1998_R = data_1998_R
maps = alter_data_1998_R['mdc_expen_1998'].groupby(alter_data_1998_R['id']).mean()
alter_data_1998_R = alter_data_1998_R.drop(['mdc_expen_1998'], axis=1)
alter_data_1998_R = alter_data_1998_R.merge(maps, how='inner', on='id')

# 1998, 以 household 為單位的回答
J_H = np.array(list(open('D:\Desktop\imf\專題\data\\1998\h98da\H98J_H.DA', mode='r').read()))
F_H = np.array(list(open('D:\Desktop\imf\專題\data\\1998\h98da\H98F_H.DA', mode='r').read()))

data_1998_H = pd.DataFrame()
for i in range(14395):
    ss = int_limit(''.join(J_H[(1316 * i + 215) : (1316 * i + 221)]), 999996)
    p1 = int_limit(''.join(J_H[(1316 * i + 560) : (1316 * i + 567)]), 9999996)
    p2 = int_limit(''.join(J_H[(1316 * i + 567) : (1316 * i + 574)]), 9999996)
    o = int_limit(''.join(J_H[(1316 * i + 1056) : (1316 * i + 1063)]), 9999996)
    ann = int_limit(''.join(J_H[(1316 * i + 510) : (1316 * i + 518)]), 99999996)
    un_c = int_limit(''.join(J_H[(1316 * i + 183) : (1316 * i + 190)]), 9999996)
    w_c = int_limit(''.join(J_H[(1316 * i + 199) : (1316 * i + 206)]), 9999996)
    ssi = int_limit(''.join(J_H[(1316 * i + 267) : (1316 * i + 271)]), 9996)
    wel = int_limit(''.join(J_H[(1316 * i + 282) : (1316 * i + 288)]), 999996)
    vbmp = int_limit(''.join(J_H[(1316 * i + 388) : (1316 * i + 394)]), 999996)
    li1 = int_limit(''.join(J_H[(1316 * i + 48) : (1316 * i + 56)]), 99999996)
    li2 = int_limit(''.join(J_H[(1316 * i + 63) : (1316 * i + 71)]), 99999996)
    li3 = int_limit(''.join(J_H[(1316 * i + 78) : (1316 * i + 86)]), 99999996)
    li4 = int_limit(''.join(J_H[(1316 * i + 91) : (1316 * i + 99)]), 99999996)
    li5 = int_limit(''.join(J_H[(1316 * i + 104) : (1316 * i + 112)]), 99999996)
    filter_list = filter(None, [ss, p1, p2, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(J_H[(1316 * i + 1167) : (1316 * i + 1174)]), 9999996)
    price = None
    value = int_limit(''.join(F_H[(368 * i + 157) : (368 * i + 164)]), 9999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(J_H[1316 * i + 1063]), None)
    rooms = int_limit(''.join(F_H[(368 * i + 285) : (368 * i + 287)]), 97)
    new = pd.DataFrame({
        'id': ''.join(J_H[(1316 * i) : (1316 * i + 6)]),
        'subhh': ''.join(J_H[1316 * i + 6]),
        'income_1998': income,
        'fs_hold_1998': fs_hold,
        'h_price_1998': price,
        'h_value_1998': value,
        'h_size_1998': s,
        'food_stamp_1998': food_stamp,
        'SS_1998': 1 if ss else ss,
        'welfare_1998': 1 if wel else wel,
        'w_c_1998': 1 if w_c else w_c,
        'HELC_1998': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(F_H[368 * i + 141]), None),
        'tenure_1998': { '1': 'own', '2': 'rent', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(F_H[368 * i + 46]), None),
        'rooms_1998': rooms,
        'kitch_1998': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(F_H[368 * i + 284]), None)
    }, index=[0])
    data_1998_H = pd.concat([data_1998_H, new], ignore_index=True)
    
# alter_data_1998_H = data_1998_H.dropna()
alter_data_1998_H = data_1998_H
maps = alter_data_1998_H['income_1998'].groupby(alter_data_1998_H['id']).mean()
alter_data_1998 = alter_data_1998_R.merge(maps, how='inner', on='id')
alter_data_1998['income_1998'] = alter_data_1998.apply(lambda x: x['income_1998'] if x['hh_size_1998'] == 1 else x['income_1998'] * 1.48, axis=1)
maps = alter_data_1998_H.drop(['subhh', 'income_1998'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_1998 = alter_data_1998.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_1998['id'].unique(), 'num_person_1998': alter_data_1998['id'].groupby(alter_data_1998['id']).size().values})
alter_data_1998 = alter_data_1998.merge(maps, how='inner', on='id')
print(alter_data_1998)

           id   pn  age_1998 gender_1998  hh_size_1998 hl_sta_1998  \
0      000002  010        64      Female             1           3
1      000003  010        62        Male             2           2
2      000003  020        60      Female             2           2
3      010001  010        59        Male             1           2
4      010003  020        64        Male             2           2
...       ...  ...       ...         ...           ...         ...
21379  213471  010        68      Female             1           1
21380  213471  020        72        Male             1           3
21381  213475  010        73      Female             1           2
21382  213479  010        71        Male             1           3
21383  213479  020        72      Female             1           2

      cnhMove_1998  mdc_expen_1998  income_1998 fs_hold_1998  ... h_size_1998  \
0                n             NaN        508.0         None  ...        None
1                n           630.0       7518.4         None  ...        None
2                n           630.0       7518.4         None  ...        None
3                n             NaN       6000.0         None  ...        None
4                n             NaN          0.0         None  ...        None
...            ...             ...          ...          ...  ...         ...
21379            n             NaN        800.0         None  ...        None
21380            n             NaN        800.0         None  ...        None
21381            n             0.0       1099.0         None  ...        None
21382            n             0.0      10089.0         None  ...        None
21383            n             0.0      10089.0         None  ...        None

      food_stamp_1998 SS_1998 welfare_1998 w_c_1998 HELC_1998 tenure_1998  \
0                   n       1         None     None      None        None
1                   n       1         None     None         n         own
2                   n       1         None     None         n         own
3                   y    None            1     None         n         own
4                   n    None         None     None         n         own
...               ...     ...          ...      ...       ...         ...
21379               n       1         None     None      None        rent
21380               n       1         None     None      None        rent
21381               n       1         None     None         n         own
21382               n       1         None     None         n         own
21383               n       1         None     None         n         own

      rooms_1998 kitch_1998 num_person_1998
0              4          y               1
1           None       None               2
2           None       None               2
3           None       None               1
4           None       None               2
...          ...        ...             ...
21379          5          y               2
21380          5          y               2
21381          5          y               1
21382          6          y               2
21383          6          y               2

[21384 rows x 22 columns]

In [19]:
# 2000, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2000\h00da\H00A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2000\h00da\H00B_R.DA', mode='r').read()))
CS_R = np.array(list(open('D:\Desktop\imf\專題\data\\2000\h00da\H00CS_R.DA', mode='r').read()))
R_R = np.array(list(open('D:\Desktop\imf\專題\data\\2000\h00da\H00R_R.DA', mode='r').read()))

data_2000_R = pd.DataFrame()
for i in range(19580):
    age = int_limit(''.join(A_R[(195 * i + 99) : (195 * i + 102)]), 200)
    healthcare_AMT = float_limit(''.join(R_R[(379 * i + 64) : (379 * i + 69)]), 9996)
    healthcare_freq = { '1': 1, '2': 4, '3': 6, '4': 12, '5': 52, '6': 26, '7': 2, '8': 24 }.get(''.join(R_R[(379 * i + 69) : (379 * i + 71)]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(R_R[(379 * i + 229) : (379 * i + 235)]), 9996)
    LTC_freq = { '1': 1, '2': 4, '3': 52, '4': 12 }.get(''.join(R_R[379 * i + 235]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(195 * i) : (195 * i + 6)]),
        'pn': ''.join(A_R[(195 * i + 6) : (195 * i + 9)]),
        'age_2000': age,
        'gender_2000': { '1': 'Male', '2': 'Female' }.get(''.join(CS_R[168 * i + 42]), None),
        'hh_size_2000': { '0': 1, '1': 2, '2': 2, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(CS_R[168 * i + 61]), None),
        'hl_sta_2000': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(B_R[251 * i + 24]), None),
        'cnhMove_2000': { '1': 'y', '5': 'n' }.get(''.join(CS_R[168 * i + 57]), None),
        'mdc_expen_2000': mdc_expen
    }, index=[0])
    data_2000_R = pd.concat([data_2000_R, new], ignore_index=True)

# alter_data_2000_R = data_2000_R.dropna()
alter_data_2000_R = data_2000_R
maps = alter_data_2000_R['mdc_expen_2000'].groupby(alter_data_2000_R['id']).mean()
alter_data_2000_R = alter_data_2000_R.drop(['mdc_expen_2000'], axis=1)
alter_data_2000_R = alter_data_2000_R.merge(maps, how='inner', on='id')

# 2000, 以 household 為單位的回答
J_H = np.array(list(open('D:\Desktop\imf\專題\data\\2000\h00da\H00J_H.DA', mode='r').read()))
F_H = np.array(list(open('D:\Desktop\imf\專題\data\\2000\h00da\H00F_H.DA', mode='r').read()))

data_2000_H = pd.DataFrame()
for i in range(13214):
    ss = int_limit(''.join(J_H[(1298 * i + 215) : (1298 * i + 219)]), 9996)
    p1 = int_limit(''.join(J_H[(1298 * i + 556) : (1298 * i + 563)]), 9999996)
    p2 = int_limit(''.join(J_H[(1298 * i + 563) : (1298 * i + 570)]), 9999996)
    o = int_limit(''.join(J_H[(1298 * i + 624) : (1298 * i + 631)]), 9999996)
    ann = int_limit(''.join(J_H[(1298 * i + 502) : (1298 * i + 510)]), 99999996)
    un_c = int_limit(''.join(J_H[(1298 * i + 183) : (1298 * i + 190)]), 9999996)
    w_c = int_limit(''.join(J_H[(1298 * i + 199) : (1298 * i + 206)]), 9999996)
    ssi = int_limit(''.join(J_H[(1298 * i + 263) : (1298 * i + 267)]), 9996)
    wel = int_limit(''.join(J_H[(1298 * i + 278) : (1298 * i + 284)]), 999996)
    vbmp = int_limit(''.join(J_H[(1298 * i + 286) : (1298 * i + 290)]), 9996)
    li1 = int_limit(''.join(J_H[(1298 * i + 48) : (1298 * i + 56)]), 99999996)
    li2 = int_limit(''.join(J_H[(1298 * i + 63) : (1298 * i + 71)]), 99999996)
    li3 = int_limit(''.join(J_H[(1298 * i + 78) : (1298 * i + 86)]), 99999996)
    li4 = int_limit(''.join(J_H[(1298 * i + 91) : (1298 * i + 99)]), 99999996)
    li5 = int_limit(''.join(J_H[(1298 * i + 104) : (1298 * i + 112)]), 99999996)
    filter_list = filter(None, [ss, p1, p2, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(J_H[(1298 * i + 1149) : (1298 * i + 1156)]), 9999996)
    price = None
    value = int_limit(''.join(F_H[(387 * i + 158) : (387 * i + 165)]), 9999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(J_H[1298 * i + 1055]), None)
    rooms = int_limit(''.join(F_H[(387 * i + 293) : (387 * i + 295)]), 97)
    new = pd.DataFrame({
        'id': ''.join(J_H[(1298 * i) : (1298 * i + 6)]),
        'subhh': ''.join(J_H[1298 * i + 6]),
        'income_2000': income,
        'fs_hold_2000': fs_hold,
        'h_price_2000': price,
        'h_value_2000': value,
        'h_size_2000': s,
        'food_stamp_2000': food_stamp,
        'SS_2000': 1 if ss else ss,
        'welfare_2000': 1 if wel else wel,
        'w_c_2000': 1 if w_c else w_c,
        'HELC_2000': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(F_H[387 * i + 142]), None),
        'tenure_2000': { '1': 'own', '2': 'rent', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(F_H[387 * i + 46]), None),
        'rooms_2000': rooms,
        'kitch_2000': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(F_H[387 * i + 292]), None)
    }, index=[0])
    data_2000_H = pd.concat([data_2000_H, new], ignore_index=True)
    
# alter_data_2000_H = data_2000_H.dropna()
alter_data_2000_H = data_2000_H
maps = alter_data_2000_H['income_2000'].groupby(alter_data_2000_H['id']).mean()
alter_data_2000 = alter_data_2000_R.merge(maps, how='inner', on='id')
alter_data_2000['income_2000'] = alter_data_2000.apply(lambda x: x['income_2000'] if x['hh_size_2000'] == 1 else x['income_2000'] * 1.48, axis=1)
maps = alter_data_2000_H.drop(['subhh', 'income_2000'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2000 = alter_data_2000.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2000['id'].unique(), 'num_person_2000': alter_data_2000['id'].groupby(alter_data_2000['id']).size().values})
alter_data_2000 = alter_data_2000.merge(maps, how='inner', on='id')
print(alter_data_2000)

           id   pn  age_2000 gender_2000  hh_size_2000 hl_sta_2000  \
0      000002  010        65      Female             1           2
1      000003  010        64        Male             2           2
2      000003  020        61      Female             2           2
3      010001  010        60        Male             1           2
4      010003  030        44      Female             1           2
...       ...  ...       ...         ...           ...         ...
19575  213468  010        75      Female             1           3
19576  213471  010        69      Female             1           1
19577  213475  010        75      Female             1           1
19578  213479  010        73        Male             1           2
19579  213479  020        73      Female             2           1

      cnhMove_2000  mdc_expen_2000  income_2000 fs_hold_2000  ... h_size_2000  \
0                n             NaN        500.0         3800  ...        None
1                n           640.0       6216.0         None  ...        None
2                n           640.0       6216.0         None  ...        None
3                n             NaN        980.0         None  ...        None
4                n             NaN          0.0         None  ...        None
...            ...             ...          ...          ...  ...         ...
19575            n             NaN        516.0         None  ...        None
19576            n             NaN       1000.0         None  ...        None
19577            n             NaN       1090.0         None  ...        None
19578            n             0.0       1000.0         None  ...        None
19579            n             0.0       1480.0         None  ...        None

      food_stamp_2000 SS_2000 welfare_2000 w_c_2000 HELC_2000 tenure_2000  \
0                   n       1         None     None      None        None
1                   n       1         None     None         n         own
2                   n       1         None     None         n         own
3                   y    None            1     None         n         own
4                   n    None         None     None         n         own
...               ...     ...          ...      ...       ...         ...
19575               y       1         None     None      None       other
19576               n       1         None     None         n         own
19577               n       1         None     None         n         own
19578               n       1         None     None         n         own
19579               n       1         None     None         n         own

      rooms_2000 kitch_2000 num_person_2000
0              4          y               1
1           None       None               2
2           None       None               2
3           None       None               1
4           None       None               1
...          ...        ...             ...
19575       None       None               1
19576          6          y               1
19577       None       None               1
19578       None       None               2
19579       None       None               2

[19580 rows x 22 columns]

In [20]:
# 2002, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02N_R.DA', mode='r').read()))

data_2002_R = pd.DataFrame()
for i in range(18167):
    age = int_limit(''.join(A_R[(67 * i + 30) : (67 * i + 33)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(644 * i + 34) : (644 * i + 38)]), 9996)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[644 * i + 38]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(644 * i + 240) : (644 * i + 246)]), 9996)
    LTC_freq = { '1': 1, '2': 4, '4': 12, '6': 1 }.get(''.join(N_R[644 * i + 246]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(67 * i) : (67 * i + 6)]),
        'pn': ''.join(A_R[(67 * i + 6) : (67 * i + 9)]),
        'age_2002': age,
        'gender_2002': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[414 * i + 19]), None),
        'hh_size_2002': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[174 * i + 131]), None),
        'hl_sta_2002': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[256 * i + 17]), None),
        'cnhMove_2002': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[67 * i + 33]), None),
        'mdc_expen_2002': mdc_expen
    }, index=[0])
    data_2002_R = pd.concat([data_2002_R, new], ignore_index=True)

# alter_data_2002_R = data_2002_R.dropna()
alter_data_2002_R = data_2002_R
maps = alter_data_2002_R['mdc_expen_2002'].groupby(alter_data_2002_R['id']).mean()
alter_data_2002_R = alter_data_2002_R.drop(['mdc_expen_2002'], axis=1)
alter_data_2002_R = alter_data_2002_R.merge(maps, how='inner', on='id')

# 2002, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2002\h02da\H02H_H.DA', mode='r').read()))

data_2002_H = pd.DataFrame()
for i in range(12350):
    ss = int_limit(''.join(Q_H[(2245 * i + 309) : (2245 * i + 313)]), 9996)
    p = int_limit(''.join(Q_H[(2245 * i + 815) : (2245 * i + 820)]), 99996)
    o = int_limit(''.join(Q_H[(2245 * i + 867) : (2245 * i + 871)]), 9996)
    ann = int_limit(''.join(Q_H[(2245 * i + 1059) : (2245 * i + 1064)]), 99996)
    un_c = int_limit(''.join(Q_H[(2245 * i + 241) : (2245 * i + 246)]), 99996)
    w_c = int_limit(''.join(Q_H[(2245 * i + 275) : (2245 * i + 280)]), 99996)
    ssi = int_limit(''.join(Q_H[(2245 * i + 354) : (2245 * i + 358)]), 99996)
    wel = int_limit(''.join(Q_H[(2245 * i + 375) : (2245 * i + 380)]), 99996)
    vbmp = int_limit(''.join(Q_H[(2245 * i + 393) : (2245 * i + 397)]), 9996)
    li1 = int_limit(''.join(Q_H[(2245 * i + 54) : (2245 * i + 60)]), 999996)
    li2 = int_limit(''.join(Q_H[(2245 * i + 76) : (2245 * i + 82)]), 999996)
    li3 = int_limit(''.join(Q_H[(2245 * i + 98) : (2245 * i + 104)]), 999996)
    li4 = int_limit(''.join(Q_H[(2245 * i + 118) : (2245 * i + 123)]), 999996)
    li5 = int_limit(''.join(Q_H[(2245 * i + 137) : (2245 * i + 143)]), 999996)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2245 * i + 1974) : (2245 * i + 1981)]), 9999998)
    price = int_limit(''.join(H_H[(553 * i + 237) : (553 * i + 244)]), 9999998)
    value = int_limit(''.join(H_H[(553 * i + 38) : (553 * i + 46)]), 99999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[2245 * i + 1516]), None)
    rooms = int_limit(''.join(H_H[(553 * i + 404) : (553 * i + 406)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2245 * i) : (2245 * i + 6)]),
        'subhh': ''.join(Q_H[2245 * i + 6]),
        'income_2002': income,
        'fs_hold_2002': fs_hold,
        'h_price_2002': price,
        'h_value_2002': value,
        'h_size_2002': s,
        'food_stamp_2002': food_stamp,
        'SS_2002': 1 if ss else ss,
        'welfare_2002': 1 if wel else wel,
        'w_c_2002': 1 if w_c else w_c,
        'HELC_2002': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[553 * i + 194]), None),
        'tenure_2002': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[553 * i + 28]), None),
        'rooms_2002': rooms,
        'kitch_2002': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[553 * i + 403]), None)
    }, index=[0])
    data_2002_H = pd.concat([data_2002_H, new], ignore_index=True)
    
# alter_data_2002_H = data_2002_H.dropna()
alter_data_2002_H = data_2002_H
maps = alter_data_2002_H['income_2002'].groupby(alter_data_2002_H['id']).mean()
alter_data_2002 = alter_data_2002_R.merge(maps, how='inner', on='id')
alter_data_2002['income_2002'] = alter_data_2002.apply(lambda x: x['income_2002'] if x['hh_size_2002'] == 1 else x['income_2002'] * 1.48, axis=1)
maps = alter_data_2002_H.drop(['subhh', 'income_2002'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2002 = alter_data_2002.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2002['id'].unique(), 'num_person_2002': alter_data_2002['id'].groupby(alter_data_2002['id']).size().values})
alter_data_2002 = alter_data_2002.merge(maps, how='inner', on='id')
print(alter_data_2002)

           id   pn age_2002 gender_2002 hh_size_2002 hl_sta_2002 cnhMove_2002  \
0      000003  010       66        Male            2           2            n
1      000003  020       63      Female            2           2            n
2      010001  010       62        Male            1           1            n
3      010003  030       46      Female            1           1            n
4      010004  010       62        Male            2           1            n
...       ...  ...      ...         ...          ...         ...          ...
18162  213468  010       77      Female            1           1            n
18163  213471  010       71      Female            1           1            n
18164  213475  010       77        Male            2           3            n
18165  213479  010       75      Female            2           2            n
18166  213479  020       75      Female         None           3            n

       mdc_expen_2002  income_2002 fs_hold_2002  ... h_size_2002  \
0              1150.0     21821.12         None  ...        None
1              1150.0     21821.12         None  ...        None
2                 NaN       632.00         None  ...        None
3                 NaN      1000.00         None  ...        None
4              1350.0      6364.00         None  ...           4
...               ...          ...          ...  ...         ...
18162             NaN       565.00         None  ...        None
18163             NaN      1200.00         None  ...        None
18164             NaN      1582.12         None  ...        None
18165             NaN      1110.00         None  ...        None
18166             NaN      1110.00         None  ...        None

      food_stamp_2002 SS_2002 welfare_2002 w_c_2002 HELC_2002 tenure_2002  \
0                   n       1         None     None         n         own
1                   n       1         None     None         n         own
2                   y       1         None     None         n         own
3                   n    None         None     None         n         own
4                   n       1         None     None         y         own
...               ...     ...          ...      ...       ...         ...
18162               y       1         None     None      None       other
18163               n       1         None     None         y         own
18164               n       1         None     None         n         own
18165               n       1         None     None         n         own
18166               n       1         None     None         n         own

      rooms_2002 kitch_2002 num_person_2002
0           None       None               2
1           None       None               2
2           None       None               1
3           None       None               1
4              7          y               2
...          ...        ...             ...
18162       None       None               1
18163       None       None               1
18164       None       None               1
18165       None       None               2
18166       None       None               2

[18167 rows x 22 columns]

In [22]:
# 2004, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04N_R.DA', mode='r').read()))

data_2004_R = pd.DataFrame()
for i in range(20129):
    age = int_limit(''.join(A_R[(57 * i + 42) : (57 * i + 45)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(674 * i + 33) : (674 * i + 37)]), 1000)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[644 * i + 37]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(674 * i + 248) : (674 * i + 252)]), 9996)
    LTC_freq = { '1': 1, '2': 4, '4': 12, '6': 1 }.get(''.join(N_R[644 * i + 252]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(57 * i) : (57 * i + 6)]),
        'pn': ''.join(A_R[(57 * i + 6) : (57 * i + 9)]),
        'age_2004': age,
        'gender_2004': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[546 * i + 20]), None),
        'hh_size_2004': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[166 * i + 161]), None),
        'hl_sta_2004': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[276 * i + 17]), None),
        'cnhMove_2004': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[57 * i + 45]), None),
        'mdc_expen_2004': mdc_expen
    }, index=[0])
    data_2004_R = pd.concat([data_2004_R, new], ignore_index=True)

# alter_data_2004_R = data_2004_R.dropna()
alter_data_2004_R = data_2004_R
maps = alter_data_2004_R['mdc_expen_2004'].groupby(alter_data_2004_R['id']).mean()
alter_data_2004_R = alter_data_2004_R.drop(['mdc_expen_2004'], axis=1)
alter_data_2004_R = alter_data_2004_R.merge(maps, how='inner', on='id')

# 2004, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2004\h04da\H04H_H.DA', mode='r').read()))

data_2004_H = pd.DataFrame()
for i in range(13645):
    ss = int_limit(''.join(Q_H[(2336 * i + 334) : (2336 * i + 338)]), 9998)
    p = int_limit(''.join(Q_H[(2336 * i + 868) : (2336 * i + 874)]), 999998)
    o = int_limit(''.join(Q_H[(2336 * i + 983) : (2336 * i + 987)]), 9998)
    ann = int_limit(''.join(Q_H[(2336 * i + 1160) : (2336 * i + 1166)]), 999998)
    un_c = int_limit(''.join(Q_H[(2336 * i + 257) : (2336 * i + 262)]), 99998)
    w_c = int_limit(''.join(Q_H[(2336 * i + 297) : (2336 * i + 302)]), 99998)
    ssi = int_limit(''.join(Q_H[(2336 * i + 385) : (2336 * i + 389)]), 9998)
    wel = int_limit(''.join(Q_H[(2336 * i + 405) : (2336 * i + 410)]), 99998)
    vbmp = int_limit(''.join(Q_H[(2336 * i + 426) : (2336 * i + 430)]), 9998)
    li1 = int_limit(''.join(Q_H[(2336 * i + 31) : (2336 * i + 38)]), 9999998)
    li2 = int_limit(''.join(Q_H[(2336 * i + 55) : (2336 * i + 62)]), 9999998)
    li3 = int_limit(''.join(Q_H[(2336 * i + 79) : (2336 * i + 85)]), 999998)
    li4 = int_limit(''.join(Q_H[(2336 * i + 102) : (2336 * i + 108)]), 999998)
    li5 = int_limit(''.join(Q_H[(2336 * i + 124) : (2336 * i + 129)]), 99998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2336 * i + 2112) : (2336 * i + 2119)]), 9999998)
    price = int_limit(''.join(H_H[(582 * i + 256) : (582 * i + 263)]), 9999998)
    value = int_limit(''.join(H_H[(582 * i + 38) : (582 * i + 46)]), 99999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[2336 * i + 1636]), None)
    rooms = int_limit(''.join(H_H[(582 * i + 434) : (582 * i + 436)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2336 * i) : (2336 * i + 6)]),
        'subhh': ''.join(Q_H[2336 * i + 6]),
        'income_2004': income,
        'fs_hold_2004': fs_hold,
        'h_price_2004': price,
        'h_value_2004': value,
        'h_size_2004': s,
        'food_stamp_2004': food_stamp,
        'SS_2004': 1 if ss else ss,
        'welfare_2004': 1 if wel else wel,
        'w_c_2004': 1 if w_c else w_c,
        'HELC_2004': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[582 * i + 210]), None),
        'tenure_2004': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[582 * i + 28]), None),
        'rooms_2004': rooms,
        'kitch_2004': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[582 * i + 433]), None)
    }, index=[0])
    data_2004_H = pd.concat([data_2004_H, new], ignore_index=True)
    
# alter_data_2004_H = data_2004_H.dropna()
alter_data_2004_H = data_2004_H
maps = alter_data_2004_H['income_2004'].groupby(alter_data_2004_H['id']).mean()
alter_data_2004 = alter_data_2004_R.merge(maps, how='inner', on='id')
alter_data_2004['income_2004'] = alter_data_2004.apply(lambda x: x['income_2004'] if x['hh_size_2004'] == 1 else x['income_2004'] * 1.48, axis=1)
maps = alter_data_2004_H.drop(['subhh', 'income_2004'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2004 = alter_data_2004.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2004['id'].unique(), 'num_person_2004': alter_data_2004['id'].groupby(alter_data_2004['id']).size().values})
alter_data_2004 = alter_data_2004.merge(maps, how='inner', on='id')
print(alter_data_2004)

           id   pn age_2004 gender_2004 hh_size_2004 hl_sta_2004 cnhMove_2004  \
0      000003  010       68        Male            2           2            n
1      000003  020       65      Female            2           2            n
2      010001  010       64        Male            2           2            n
3      010003  030       48      Female            1           2            n
4      010004  010       64        Male            1        None            n
...       ...  ...      ...         ...          ...         ...          ...
20124  502757  010       53      Female            1           1            n
20125  502758  010       52        Male            1           2            n
20126  502759  010       54        Male            1           1            n
20127  502759  020       55      Female            1           1            n
20128  502761  010       51      Female            1           2            n

       mdc_expen_2004  income_2004 fs_hold_2004  ... h_size_2004  \
0               764.0     13172.00         None  ...        None
1               764.0     13172.00         None  ...        None
2                 NaN       978.28         None  ...        None
3                 NaN         0.00         None  ...        None
4                 0.0      5450.00         None  ...           4
...               ...          ...          ...  ...         ...
20124             NaN     24000.00         None  ...        None
20125             NaN     13000.00         None  ...        None
20126             NaN     20000.00         None  ...           2
20127             NaN     20000.00         None  ...           2
20128             NaN         0.00         None  ...        None

      food_stamp_2004 SS_2004 welfare_2004 w_c_2004 HELC_2004 tenure_2004  \
0                   n       1         None     None         n         own
1                   n       1         None     None         n         own
2                   y       1         None     None         n         own
3                   n    None         None     None        dk         own
4                   n       1         None     None         y         own
...               ...     ...          ...      ...       ...         ...
20124               n    None         None     None      None        rent
20125               n    None         None     None      None        rent
20126               n    None         None     None         y         own
20127               n    None         None     None         y         own
20128               n    None         None     None         n         own

      rooms_2004 kitch_2004 num_person_2004
0           None       None               2
1           None       None               2
2           None       None               1
3           None       None               1
4              5          y               2
...          ...        ...             ...
20124          3          y               1
20125          3          y               1
20126          8          y               2
20127          8          y               2
20128          4          y               1

[20129 rows x 22 columns]

In [23]:
# 2006, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06N_R.DA', mode='r').read()))

data_2006_R = pd.DataFrame()
for i in range(18469):
    age = int_limit(''.join(A_R[(139 * i + 54) : (139 * i + 57)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(980 * i + 154) : (980 * i + 157)]), 938)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[980 * i + 157]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(980 * i + 398) : (980 * i + 404)]), 158915)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(''.join(N_R[980 * i + 404]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(139 * i) : (139 * i + 6)]),
        'pn': ''.join(A_R[(139 * i + 6) : (139 * i + 9)]),
        'age_2006': age,
        'gender_2006': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[659 * i + 20]), None),
        'hh_size_2006': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[182 * i + 177]), None),
        'hl_sta_2006': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[325 * i + 17]), None),
        'cnhMove_2006': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[139 * i + 57]), None),
        'mdc_expen_2006': mdc_expen
    }, index=[0])
    data_2006_R = pd.concat([data_2006_R, new], ignore_index=True)

# alter_data_2006_R = data_2006_R.dropna()
alter_data_2006_R = data_2006_R
maps = alter_data_2006_R['mdc_expen_2006'].groupby(alter_data_2006_R['id']).mean()
alter_data_2006_R = alter_data_2006_R.drop(['mdc_expen_2006'], axis=1)
alter_data_2006_R = alter_data_2006_R.merge(maps, how='inner', on='id')

# 2006, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2006\h06da\H06H_H.DA', mode='r').read()))

data_2006_H = pd.DataFrame()
for i in range(12605):
    ss = int_limit(''.join(Q_H[(3109 * i + 432) : (3109 * i + 436)]), 9998)
    p = int_limit(''.join(Q_H[(3109 * i + 1152) : (3109 * i + 1159)]), 9999998)
    o = int_limit(''.join(Q_H[(3109 * i + 1297) : (3109 * i + 1304)]), 9999998)
    ann = int_limit(''.join(Q_H[(3109 * i + 1550) : (3109 * i + 1557)]), 9999998)
    un_c = int_limit(''.join(Q_H[(3109 * i + 322) : (3109 * i + 330)]), 99999998)
    w_c = int_limit(''.join(Q_H[(3109 * i + 380) : (3109 * i + 387)]), 9999998)
    ssi = int_limit(''.join(Q_H[(3109 * i + 487) : (3109 * i + 491)]), 9998)
    wel = int_limit(''.join(Q_H[(3109 * i + 515) : (3109 * i + 521)]), 999998)
    vbmp = int_limit(''.join(Q_H[(3109 * i + 541) : (3109 * i + 545)]), 9998)
    li1 = int_limit(''.join(Q_H[(3109 * i + 31) : (3109 * i + 39)]), 99999998)
    li2 = int_limit(''.join(Q_H[(3109 * i + 60) : (3109 * i + 68)]), 99999998)
    li3 = int_limit(''.join(Q_H[(3109 * i + 89) : (3109 * i + 97)]), 99999998)
    li4 = int_limit(''.join(Q_H[(3109 * i + 118) : (3109 * i + 126)]), 99999998)
    li5 = int_limit(''.join(Q_H[(3109 * i + 147) : (3109 * i + 155)]), 99999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(3109 * i + 2820) : (3109 * i + 2827)]), 9999998)
    price = int_limit(''.join(H_H[(710 * i + 319) : (710 * i + 326)]), 9999998)
    value = int_limit(''.join(H_H[(710 * i + 39) : (710 * i + 47)]), 99999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[3109 * i + 2193]), None)
    rooms = int_limit(''.join(H_H[(710 * i + 531) : (710 * i + 533)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(3109 * i) : (3109 * i + 6)]),
        'subhh': ''.join(Q_H[3109 * i + 6]),
        'income_2006': income,
        'fs_hold_2006': fs_hold,
        'h_price_2006': price,
        'h_value_2006': value,
        'h_size_2006': s,
        'food_stamp_2006': food_stamp,
        'SS_2006': 1 if ss else ss,
        'welfare_2006': 1 if wel else wel,
        'w_c_2006': 1 if w_c else w_c,
        'HELC_2006': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[710 * i + 259]), None),
        'tenure_2006': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[710 * i + 29]), None),
        'rooms_2006': rooms,
        'kitch_2006': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[710 * i + 530]), None)
    }, index=[0])
    data_2006_H = pd.concat([data_2006_H, new], ignore_index=True)
    
# alter_data_2006_H = data_2006_H.dropna()
alter_data_2006_H = data_2006_H
maps = alter_data_2006_H['income_2006'].groupby(alter_data_2006_H['id']).mean()
alter_data_2006 = alter_data_2006_R.merge(maps, how='inner', on='id')
alter_data_2006['income_2006'] = alter_data_2006.apply(lambda x: x['income_2006'] if x['hh_size_2006'] == 1 else x['income_2006'] * 1.48, axis=1)
maps = alter_data_2006_H.drop(['subhh', 'income_2006'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2006 = alter_data_2006.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2006['id'].unique(), 'num_person_2006': alter_data_2006['id'].groupby(alter_data_2006['id']).size().values})
alter_data_2006 = alter_data_2006.merge(maps, how='inner', on='id')
print(alter_data_2006)

           id   pn  age_2006 gender_2006 hh_size_2006 hl_sta_2006  \
0      000003  010        70        Male            2           2
1      000003  020        67      Female            2           2
2      010001  010        66        Male            1           2
3      010003  030        50      Female            1           3
4      010004  010        66        Male            2           2
...       ...  ...       ...         ...          ...         ...
18464  502755  020        57        Male            2           2
18465  502758  010        54        Male            1           2
18466  502759  010        56        Male            2           2
18467  502759  020        57      Female            2           1
18468  502761  010        53      Female            1           2

      cnhMove_2006  mdc_expen_2006  income_2006 fs_hold_2006  ... h_size_2006  \
0                n          2944.0       4099.6         None  ...        None
1                n          2944.0       4099.6         None  ...        None
2                n             NaN        710.0         None  ...        None
3                n             NaN          0.0         None  ...        None
4                n          1750.0       7252.0         None  ...           5
...            ...             ...          ...          ...  ...         ...
18464            n             NaN     103600.0         None  ...        None
18465            n             NaN      13000.0         None  ...        None
18466            n             NaN      32560.0      9999998  ...        None
18467            n             NaN      32560.0      9999998  ...        None
18468            n             NaN       9998.0         None  ...        None

      food_stamp_2006 SS_2006 welfare_2006 w_c_2006 HELC_2006 tenure_2006  \
0                   n       1         None     None         n         own
1                   n       1         None     None         n         own
2                   y       1         None     None         n         own
3                   n    None         None     None         n         own
4                   n       1         None     None         y         own
...               ...     ...          ...      ...       ...         ...
18464               n    None         None     None         y         own
18465               n    None         None     None      None        rent
18466               n    None         None     None         y         own
18467               n    None         None     None         y         own
18468               n       1         None     None         n         own

      rooms_2006 kitch_2006 num_person_2006
0           None       None               2
1           None       None               2
2           None       None               1
3           None       None               1
4              6          y               2
...          ...        ...             ...
18464       None       None               2
18465       None       None               1
18466       None       None               2
18467       None       None               2
18468       None       None               1

[18469 rows x 22 columns]

In [24]:
# 2008, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08N_R.DA', mode='r').read()))

data_2008_R = pd.DataFrame()
for i in range(17217):
    age = int_limit(''.join(A_R[(131 * i + 54) : (131 * i + 57)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(860 * i + 34) : (860 * i + 38)]), 4600)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[860 * i + 52]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(860 * i + 354) : (860 * i + 360)]), 100000)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(''.join(N_R[860 * i + 378]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(131 * i) : (131 * i + 6)]),
        'pn': ''.join(A_R[(131 * i + 6) : (131 * i + 9)]),
        'age_2008': age,
        'gender_2008': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[674 * i + 20]), None),
        'hh_size_2008': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[316 * i + 311]), None),
        'hl_sta_2008': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[408 * i + 68]), None),
        'cnhMove_2008': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[131 * i + 57]), None),
        'mdc_expen_2008': mdc_expen
    }, index=[0])
    data_2008_R = pd.concat([data_2008_R, new], ignore_index=True)

# alter_data_2008_R = data_2008_R.dropna()
alter_data_2008_R = data_2008_R
maps = alter_data_2008_R['mdc_expen_2008'].groupby(alter_data_2008_R['id']).mean()
alter_data_2008_R = alter_data_2008_R.drop(['mdc_expen_2008'], axis=1)
alter_data_2008_R = alter_data_2008_R.merge(maps, how='inner', on='id')

# 2008, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2008\h08da\H08H_H.DA', mode='r').read()))

data_2008_H = pd.DataFrame()
for i in range(11897):
    ss = int_limit(''.join(Q_H[(3131 * i + 432) : (3131 * i + 436)]), 9998)
    p = int_limit(''.join(Q_H[(3131 * i + 1130) : (3131 * i + 1137)]), 9999998)
    o = int_limit(''.join(Q_H[(3131 * i + 1275) : (3131 * i + 1282)]), 9999998)
    ann = int_limit(''.join(Q_H[(3131 * i + 1528) : (3131 * i + 1535)]), 9999998)
    un_c = int_limit(''.join(Q_H[(3131 * i + 322) : (3131 * i + 330)]), 99999998)
    w_c = int_limit(''.join(Q_H[(3131 * i + 380) : (3131 * i + 387)]), 9999998)
    ssi = int_limit(''.join(Q_H[(3131 * i + 487) : (3131 * i + 491)]), 9998)
    wel = int_limit(''.join(Q_H[(3131 * i + 515) : (3131 * i + 521)]), 999998)
    vbmp = int_limit(''.join(Q_H[(3131 * i + 541) : (3131 * i + 545)]), 9998)
    li1 = int_limit(''.join(Q_H[(3131 * i + 31) : (3131 * i + 39)]), 99999998)
    li2 = int_limit(''.join(Q_H[(3131 * i + 60) : (3131 * i + 68)]), 99999998)
    li3 = int_limit(''.join(Q_H[(3131 * i + 89) : (3131 * i + 97)]), 99999998)
    li4 = int_limit(''.join(Q_H[(3131 * i + 118) : (3131 * i + 126)]), 99999998)
    li5 = int_limit(''.join(Q_H[(3131 * i + 147) : (3131 * i + 155)]), 99999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(3131 * i + 2780) : (3131 * i + 2787)]), 9999998)
    price = int_limit(''.join(H_H[(751 * i + 321) : (751 * i + 328)]), 9999998)
    value = int_limit(''.join(H_H[(751 * i + 42) : (751 * i + 50)]), 99999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[3131 * i + 2155]), None)
    rooms = int_limit(''.join(H_H[(751 * i + 533) : (751 * i + 535)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(3131 * i) : (3131 * i + 6)]),
        'subhh': ''.join(Q_H[3131 * i + 6]),
        'income_2008': income,
        'fs_hold_2008': fs_hold,
        'h_price_2008': price,
        'h_value_2008': value,
        'h_size_2008': s,
        'food_stamp_2008': food_stamp,
        'SS_2008': 1 if ss else ss,
        'welfare_2008': 1 if wel else wel,
        'w_c_2008': 1 if w_c else w_c,
        'HELC_2008': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[751 * i + 261]), None),
        'tenure_2008': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[751 * i + 32]), None),
        'rooms_2008': rooms,
        'kitch_2008': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[751 * i + 532]), None)
    }, index=[0])
    data_2008_H = pd.concat([data_2008_H, new], ignore_index=True)
    
# alter_data_2008_H = data_2008_H.dropna()
alter_data_2008_H = data_2008_H
maps = alter_data_2008_H['income_2008'].groupby(alter_data_2008_H['id']).mean()
alter_data_2008 = alter_data_2008_R.merge(maps, how='inner', on='id')
alter_data_2008['income_2008'] = alter_data_2008.apply(lambda x: x['income_2008'] if x['hh_size_2008'] == 1 else x['income_2008'] * 1.48, axis=1)
maps = alter_data_2008_H.drop(['subhh', 'income_2008'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2008 = alter_data_2008.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2008['id'].unique(), 'num_person_2008': alter_data_2008['id'].groupby(alter_data_2008['id']).size().values})
alter_data_2008 = alter_data_2008.merge(maps, how='inner', on='id')
print(alter_data_2008)

           id   pn  age_2008 gender_2008 hh_size_2008 hl_sta_2008  \
0      000003  010        72        Male            2           2
1      000003  020        69      Female            2           2
2      010001  010        69        Male            1           2
3      010003  030        51      Female            1           2
4      010004  010        68        Male            2           2
...       ...  ...       ...         ...          ...         ...
17212  502757  010        58      Female            1           1
17213  502758  010        56        Male            1           2
17214  502759  010        59        Male            2           1
17215  502759  020        59      Female            2           2
17216  502761  010        54      Female            1           2

      cnhMove_2008  mdc_expen_2008  income_2008 fs_hold_2008  ... h_size_2008  \
0                n          2108.0       3848.0         None  ...        None
1                n          2108.0       3848.0         None  ...        None
2                n             NaN        700.0         None  ...        None
3                n             NaN          0.0         None  ...        None
4                n          1600.0       7030.0         None  ...        None
...            ...             ...          ...          ...  ...         ...
17212            n             NaN      23093.0         None  ...        None
17213            n             NaN   99999998.0         None  ...        None
17214            n             NaN      45510.0         None  ...        None
17215            n             NaN      45510.0         None  ...        None
17216            n             NaN          0.0         None  ...        None

      food_stamp_2008 SS_2008 welfare_2008 w_c_2008 HELC_2008 tenure_2008  \
0                   n       1         None     None         n         own
1                   n       1         None     None         n         own
2                   y       1         None     None         n         own
3                   n    None         None     None         n         own
4                   n       1         None     None         y         own
...               ...     ...          ...      ...       ...         ...
17212               n    None         None     None      None        rent
17213               n    None         None     None      None        rent
17214               n    None         None     None         y         own
17215               n    None         None     None         y         own
17216               n    None         None     None         n         own

      rooms_2008 kitch_2008 num_person_2008
0           None       None               2
1           None       None               2
2           None       None               1
3           None       None               1
4           None       None               2
...          ...        ...             ...
17212       None       None               1
17213       None       None               1
17214       None       None               2
17215       None       None               2
17216       None       None               1

[17217 rows x 22 columns]

In [25]:
# 2010, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10N_R.DA', mode='r').read()))

data_2010_R = pd.DataFrame()
for i in range(22034):
    age = int_limit(''.join(A_R[(66 * i + 42) : (66 * i + 45)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(774 * i + 38) : (774 * i + 42)]), 1000)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[774 * i + 55]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(774 * i + 321) : (774 * i + 327)]), 100000)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(''.join(N_R[774 * i + 340]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(66 * i) : (66 * i + 6)]),
        'pn': ''.join(A_R[(66 * i + 6) : (66 * i + 9)]),
        'age_2010': age,
        'gender_2010': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[500 * i + 20]), None),
        'hh_size_2010': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[310 * i + 305]), None),
        'hl_sta_2010': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[365 * i + 23]), None),
        'cnhMove_2010': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[66 * i + 45]), None),
        'mdc_expen_2010': mdc_expen
    }, index=[0])
    data_2010_R = pd.concat([data_2010_R, new], ignore_index=True)

# alter_data_2010_R = data_2010_R.dropna()
alter_data_2010_R = data_2010_R
maps = alter_data_2010_R['mdc_expen_2010'].groupby(alter_data_2010_R['id']).mean()
alter_data_2010_R = alter_data_2010_R.drop(['mdc_expen_2010'], axis=1)
alter_data_2010_R = alter_data_2010_R.merge(maps, how='inner', on='id')

# 2010, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2010\h10da\H10H_H.DA', mode='r').read()))

data_2010_H = pd.DataFrame()
for i in range(15280):
    ss = int_limit(''.join(Q_H[(2538 * i + 367) : (2538 * i + 372)]), 99998)
    p = int_limit(''.join(Q_H[(2538 * i + 944) : (2538 * i + 951)]), 9999998)
    o = int_limit(''.join(Q_H[(2538 * i + 1065) : (2538 * i + 1072)]), 9999998)
    ann = int_limit(''.join(Q_H[(2538 * i + 1255) : (2538 * i + 1262)]), 9999998)
    un_c = int_limit(''.join(Q_H[(2538 * i + 277) : (2538 * i + 285)]), 99999998)
    w_c = int_limit(''.join(Q_H[(2538 * i + 323) : (2538 * i + 330)]), 9999998)
    ssi = int_limit(''.join(Q_H[(2538 * i + 419) : (2538 * i + 423)]), 9998)
    wel = int_limit(''.join(Q_H[(2538 * i + 444) : (2538 * i + 450)]), 999998)
    vbmp = int_limit(''.join(Q_H[(2538 * i + 466) : (2538 * i + 470)]), 9998)
    li1 = int_limit(''.join(Q_H[(2538 * i + 31) : (2538 * i + 39)]), 99999998)
    li2 = int_limit(''.join(Q_H[(2538 * i + 56) : (2538 * i + 64)]), 99999998)
    li3 = int_limit(''.join(Q_H[(2538 * i + 81) : (2538 * i + 89)]), 99999998)
    li4 = int_limit(''.join(Q_H[(2538 * i + 106) : (2538 * i + 114)]), 99999998)
    li5 = int_limit(''.join(Q_H[(2538 * i + 130) : (2538 * i + 138)]), 99999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2538 * i + 2281) : (2538 * i + 2288)]), 9999998)
    price = int_limit(''.join(H_H[(675 * i + 269) : (675 * i + 276)]), 9999998)
    value = int_limit(''.join(H_H[(675 * i + 40) : (675 * i + 48)]), 99999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[2538 * i + 1789]), None)
    rooms = int_limit(''.join(H_H[(675 * i + 478) : (675 * i + 480)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2538 * i) : (2538 * i + 6)]),
        'subhh': ''.join(Q_H[2538 * i + 6]),
        'income_2010': income,
        'fs_hold_2010': fs_hold,
        'h_price_2010': price,
        'h_value_2010': value,
        'h_size_2010': s,
        'food_stamp_2010': food_stamp,
        'SS_2010': 1 if ss else ss,
        'welfare_2010': 1 if wel else wel,
        'w_c_2010': 1 if w_c else w_c,
        'HELC_2010': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[675 * i + 222]), None),
        'tenure_2010': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[675 * i + 30]), None),
        'rooms_2010': rooms,
        'kitch_2010': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[675 * i + 477]), None)
    }, index=[0])
    data_2010_H = pd.concat([data_2010_H, new], ignore_index=True)
    
# alter_data_2010_H = data_2010_H.dropna()
alter_data_2010_H = data_2010_H
maps = alter_data_2010_H['income_2010'].groupby(alter_data_2010_H['id']).mean()
alter_data_2010 = alter_data_2010_R.merge(maps, how='inner', on='id')
alter_data_2010['income_2010'] = alter_data_2010.apply(lambda x: x['income_2010'] if x['hh_size_2010'] == 1 else x['income_2010'] * 1.48, axis=1)
maps = alter_data_2010_H.drop(['subhh', 'income_2010'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2010 = alter_data_2010.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2010['id'].unique(), 'num_person_2010': alter_data_2010['id'].groupby(alter_data_2010['id']).size().values})
alter_data_2010 = alter_data_2010.merge(maps, how='inner', on='id')
print(alter_data_2010)

           id   pn  age_2010 gender_2010 hh_size_2010 hl_sta_2010  \
0      000003  010        74        Male            2           2
1      000003  020        72      Female            2           2
2      010001  010        71        Male            1           2
3      010003  030        54      Female            1           2
4      010004  010        70        Male            2           2
...       ...  ...       ...         ...          ...         ...
22029  923525  020        55        Male            2           2
22030  952836  010        51      Female            1           2
22031  958361  010        46        Male            1           1
22032  959733  010        49        Male            1           2
22033  959738  010        59        Male            1           2

      cnhMove_2010  mdc_expen_2010  income_2010 fs_hold_2010  ... h_size_2010  \
0                n          2144.0      3976.76         None  ...        None
1                n          2144.0      3976.76         None  ...        None
2                n             NaN       700.00         None  ...        None
3                n             NaN       761.00         None  ...        None
4                n          1600.0      7696.00         None  ...        None
...            ...             ...          ...          ...  ...         ...
22029            n             NaN     94720.00         None  ...        None
22030            n             NaN     12000.00         None  ...        None
22031            n             NaN     26572.00         None  ...           5
22032            n             NaN         0.00         None  ...        None
22033            n             NaN      1500.00         None  ...           4

      food_stamp_2010 SS_2010 welfare_2010 w_c_2010 HELC_2010 tenure_2010  \
0                   n       1         None     None         n         own
1                   n       1         None     None         n         own
2                   y       1         None     None         n         own
3                   y    None         None     None      None        rent
4                   n       1         None     None         y         own
...               ...     ...          ...      ...       ...         ...
22029               n    None         None     None         n         own
22030               n    None         None     None      None        rent
22031               n    None         None     None         n         own
22032               n    None         None     None      None        rent
22033               n       1         None     None         n         own

      rooms_2010 kitch_2010 num_person_2010
0           None       None               2
1           None       None               2
2           None       None               1
3           None       None               1
4           None       None               2
...          ...        ...             ...
22029          5          y               2
22030          2          y               1
22031          7          y               1
22032          6          y               1
22033          4          y               1

[22034 rows x 22 columns]

In [26]:
# 2012, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12N_R.DA', mode='r').read()))

data_2012_R = pd.DataFrame()
for i in range(20554):
    age = int_limit(''.join(A_R[(66 * i + 42) : (66 * i + 45)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(759 * i + 33) : (759 * i + 36)]), 300)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[759 * i + 49]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(759 * i + 329) : (759 * i + 335)]), 400000)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(''.join(N_R[759 * i + 348]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(66 * i) : (66 * i + 6)]),
        'pn': ''.join(A_R[(66 * i + 6) : (66 * i + 9)]),
        'age_2012': age,
        'gender_2012': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[471 * i + 20]), None),
        'hh_size_2012': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[299 * i + 294]), None),
        'hl_sta_2012': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[360 * i + 23]), None),
        'cnhMove_2012': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[66 * i + 45]), None),
        'mdc_expen_2012': mdc_expen
    }, index=[0])
    data_2012_R = pd.concat([data_2012_R, new], ignore_index=True)

# alter_data_2012_R = data_2012_R.dropna()
alter_data_2012_R = data_2012_R
maps = alter_data_2012_R['mdc_expen_2012'].groupby(alter_data_2012_R['id']).mean()
alter_data_2012_R = alter_data_2012_R.drop(['mdc_expen_2012'], axis=1)
alter_data_2012_R = alter_data_2012_R.merge(maps, how='inner', on='id')

# 2012, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2012\h12da\H12H_H.DA', mode='r').read()))

data_2012_H = pd.DataFrame()
for i in range(14316):
    ss = int_limit(''.join(Q_H[(2611 * i + 368) : (2611 * i + 372)]), 9998)
    p = int_limit(''.join(Q_H[(2611 * i + 949) : (2611 * i + 956)]), 9999998)
    o = int_limit(''.join(Q_H[(2611 * i + 1070) : (2611 * i + 1077)]), 9999998)
    ann = int_limit(''.join(Q_H[(2611 * i + 1263) : (2611 * i + 1270)]), 9999998)
    un_c = int_limit(''.join(Q_H[(2611 * i + 278) : (2611 * i + 286)]), 99999998)
    w_c = int_limit(''.join(Q_H[(2611 * i + 324) : (2611 * i + 331)]), 9999998)
    ssi = int_limit(''.join(Q_H[(2611 * i + 419) : (2611 * i + 423)]), 9998)
    wel = int_limit(''.join(Q_H[(2611 * i + 444) : (2611 * i + 450)]), 999998)
    vbmp = int_limit(''.join(Q_H[(2611 * i + 466) : (2611 * i + 470)]), 9998)
    li1 = int_limit(''.join(Q_H[(2611 * i + 31) : (2611 * i + 39)]), 99999998)
    li2 = int_limit(''.join(Q_H[(2611 * i + 56) : (2611 * i + 64)]), 99999998)
    li3 = int_limit(''.join(Q_H[(2611 * i + 81) : (2611 * i + 89)]), 99999998)
    li4 = int_limit(''.join(Q_H[(2611 * i + 106) : (2611 * i + 114)]), 99999998)
    li5 = int_limit(''.join(Q_H[(2611 * i + 130) : (2611 * i + 138)]), 99999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2611 * i + 2350) : (2611 * i + 2357)]), 9999998)
    price = int_limit(''.join(H_H[(685 * i + 281) : (685 * i + 288)]), 9999998)
    value = int_limit(''.join(H_H[(685 * i + 40) : (685 * i + 48)]), 99999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[2611 * i + 1831]), None)
    rooms = int_limit(''.join(H_H[(685 * i + 490) : (685 * i + 492)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2611 * i) : (2611 * i + 6)]),
        'subhh': ''.join(Q_H[2611 * i + 6]),
        'income_2012': income,
        'fs_hold_2012': fs_hold,
        'h_price_2012': price,
        'h_value_2012': value,
        'h_size_2012': s,
        'food_stamp_2012': food_stamp,
        'SS_2012': 1 if ss else ss,
        'welfare_2012': 1 if wel else wel,
        'w_c_2012': 1 if w_c else w_c,
        'HELC_2012': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[685 * i + 234]), None),
        'tenure_2012': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[685 * i + 30]), None),
        'rooms_2012': rooms,
        'kitch_2012': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[685 * i + 489]), None)
    }, index=[0])
    data_2012_H = pd.concat([data_2012_H, new], ignore_index=True)
    
# alter_data_2012_H = data_2012_H.dropna()
alter_data_2012_H = data_2012_H
maps = alter_data_2012_H['income_2012'].groupby(alter_data_2012_H['id']).mean()
alter_data_2012 = alter_data_2012_R.merge(maps, how='inner', on='id')
alter_data_2012['income_2012'] = alter_data_2012.apply(lambda x: x['income_2012'] if x['hh_size_2012'] == 1 else x['income_2012'] * 1.48, axis=1)
maps = alter_data_2012_H.drop(['subhh', 'income_2012'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2012 = alter_data_2012.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2012['id'].unique(), 'num_person_2012': alter_data_2012['id'].groupby(alter_data_2012['id']).size().values})
alter_data_2012 = alter_data_2012.merge(maps, how='inner', on='id')
print(alter_data_2012)

           id   pn  age_2012 gender_2012 hh_size_2012 hl_sta_2012  \
0      000003  010        76        Male            2           2
1      000003  020        73      Female            2           2
2      010001  010        72        Male            1           2
3      010003  030        56      Female            1           1
4      010004  040        66      Female            1           1
...       ...  ...       ...         ...          ...         ...
20549  923525  010        56      Female            2           2
20550  923525  020        58        Male            2           2
20551  952836  010        52      Female            1           1
20552  958361  010        47        Male            2           1
20553  959738  010        61        Male            1           2

      cnhMove_2012  mdc_expen_2012  income_2012 fs_hold_2012  ... h_size_2012  \
0                n          1800.0       1924.0         None  ...        None
1                n          1800.0       1924.0         None  ...        None
2                n             NaN        800.0         None  ...          10
3                n             NaN        784.0         None  ...           1
4                n           725.0          0.0         None  ...          10
...            ...             ...          ...          ...  ...         ...
20549            n             NaN      71040.0         None  ...        None
20550            n             NaN      71040.0         None  ...        None
20551            n             NaN      15000.0         None  ...        None
20552            n             NaN      91760.0         None  ...        None
20553            n             NaN      11570.0         None  ...        None

      food_stamp_2012 SS_2012 welfare_2012 w_c_2012 HELC_2012 tenure_2012  \
0                   n       1         None     None         n         own
1                   n       1         None     None         n         own
2                   y       1         None     None         n         own
3                   y    None         None     None         n         own
4                   n    None         None     None         y         own
...               ...     ...          ...      ...       ...         ...
20549               n    None         None     None         n         own
20550               n    None         None     None         n         own
20551               n    None         None     None      None        rent
20552               n    None         None     None         y         own
20553               n       1         None     None         n         own

      rooms_2012 kitch_2012 num_person_2012
0           None       None               2
1           None       None               2
2              5          y               1
3              3          y               1
4              5          y               1
...          ...        ...             ...
20549       None       None               2
20550       None       None               2
20551       None       None               1
20552       None       None               1
20553       None       None               1

[20554 rows x 22 columns]

In [27]:
# 2014, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14N_R.DA', mode='r').read()))

data_2014_R = pd.DataFrame()
for i in range(18747):
    age = int_limit(''.join(A_R[(67 * i + 43) : (67 * i + 46)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(737 * i + 33) : (737 * i + 37)]), 6000)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[644 * i + 37]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(737 * i + 313) : (737 * i + 319)]), 100000)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(''.join(N_R[737 * i + 319]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(67 * i) : (67 * i + 6)]),
        'pn': ''.join(A_R[(67 * i + 6) : (67 * i + 9)]),
        'age_2014': age,
        'gender_2014': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[474 * i + 20]), None),
        'hh_size_2014': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[279 * i + 274]), None),
        'hl_sta_2014': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[317 * i + 23]), None),
        'cnhMove_2014': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[67 * i + 46]), None),
        'mdc_expen_2014': mdc_expen
    }, index=[0])
    data_2014_R = pd.concat([data_2014_R, new], ignore_index=True)

# alter_data_2014_R = data_2014_R.dropna()
alter_data_2014_R = data_2014_R
maps = alter_data_2014_R['mdc_expen_2014'].groupby(alter_data_2014_R['id']).mean()
alter_data_2014_R = alter_data_2014_R.drop(['mdc_expen_2014'], axis=1)
alter_data_2014_R = alter_data_2014_R.merge(maps, how='inner', on='id')

# 2014, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2014\h14da\H14H_H.DA', mode='r').read()))

data_2014_H = pd.DataFrame()
for i in range(13241):
    ss = int_limit(''.join(Q_H[(2454 * i + 348) : (2454 * i + 352)]), 9998)
    p = int_limit(''.join(Q_H[(2454 * i + 880) : (2454 * i + 887)]), 9999998)
    o = int_limit(''.join(Q_H[(2454 * i + 997) : (2454 * i + 1001)]), 9998)
    ann = int_limit(''.join(Q_H[(2454 * i + 1175) : (2454 * i + 1180)]), 99998)
    un_c = int_limit(''.join(Q_H[(2454 * i + 266) : (2454 * i + 271)]), 99998)
    w_c = int_limit(''.join(Q_H[(2454 * i + 306) : (2454 * i + 311)]), 99998)
    ssi = int_limit(''.join(Q_H[(2454 * i + 399) : (2454 * i + 403)]), 9998)
    wel = int_limit(''.join(Q_H[(2454 * i + 424) : (2454 * i + 430)]), 999998)
    vbmp = int_limit(''.join(Q_H[(2454 * i + 446) : (2454 * i + 450)]), 9998)
    li1 = int_limit(''.join(Q_H[(2454 * i + 31) : (2454 * i + 39)]), 99999998)
    li2 = int_limit(''.join(Q_H[(2454 * i + 56) : (2454 * i + 64)]), 99999998)
    li3 = int_limit(''.join(Q_H[(2454 * i + 81) : (2454 * i + 89)]), 99999998)
    li4 = int_limit(''.join(Q_H[(2454 * i + 106) : (2454 * i + 112)]), 999998)
    li5 = int_limit(''.join(Q_H[(2454 * i + 128) : (2454 * i + 134)]), 999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2454 * i + 2207) : (2454 * i + 2214)]), 9999998)
    price = int_limit(''.join(H_H[(624 * i + 267) : (624 * i + 274)]), 9999998)
    value = int_limit(''.join(H_H[(624 * i + 40) : (624 * i + 47)]), 9999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[2454 * i + 1719]), None)
    rooms = int_limit(''.join(H_H[(624 * i + 448) : (624 * i + 450)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2454 * i) : (2454 * i + 6)]),
        'subhh': ''.join(Q_H[2454 * i + 6]),
        'income_2014': income,
        'fs_hold_2014': fs_hold,
        'h_price_2014': price,
        'h_value_2014': value,
        'h_size_2014': s,
        'food_stamp_2014': food_stamp,
        'SS_2014': 1 if ss else ss,
        'welfare_2014': 1 if wel else wel,
        'w_c_2014': 1 if w_c else w_c,
        'HELC_2014': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[624 * i + 221]), None),
        'tenure_2014': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[624 * i + 30]), None),
        'rooms_2014': rooms,
        'kitch_2014': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[624 * i + 447]), None)
    }, index=[0])
    data_2014_H = pd.concat([data_2014_H, new], ignore_index=True)
    
# alter_data_2014_H = data_2014_H.dropna()
alter_data_2014_H = data_2014_H
maps = alter_data_2014_H['income_2014'].groupby(alter_data_2014_H['id']).mean()
alter_data_2014 = alter_data_2014_R.merge(maps, how='inner', on='id')
alter_data_2014['income_2014'] = alter_data_2014.apply(lambda x: x['income_2014'] if x['hh_size_2014'] == 1 else x['income_2014'] * 1.48, axis=1)
maps = alter_data_2014_H.drop(['subhh', 'income_2014'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2014 = alter_data_2014.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2014['id'].unique(), 'num_person_2014': alter_data_2014['id'].groupby(alter_data_2014['id']).size().values})
alter_data_2014 = alter_data_2014.merge(maps, how='inner', on='id')
print(alter_data_2014)

           id   pn  age_2014 gender_2014 hh_size_2014 hl_sta_2014  \
0      000003  020        75      Female            1           2
1      010001  010        74        Male            1           2
2      010003  030        58      Female            1           1
3      010004  040        68      Female            1           1
4      010013  040        66      Female            1           2
...       ...  ...       ...         ...          ...         ...
18742  923525  010        57      Female            2           1
18743  923525  020        59        Male            2           2
18744  952836  010        54      Female            1           1
18745  958361  010        50        Male            1           1
18746  959738  010        63        Male            1           2

      cnhMove_2014  mdc_expen_2014  income_2014 fs_hold_2014  ... h_size_2014  \
0                n          1686.0       2900.0         None  ...        None
1                n             NaN        800.0         None  ...        None
2                n             NaN        800.0         None  ...        None
3                n          1700.0       1600.0         None  ...        None
4                n             NaN       1210.0         None  ...        None
...            ...             ...          ...          ...  ...         ...
18742            n             NaN      59200.0         None  ...        None
18743            n             NaN      59200.0         None  ...        None
18744            n             NaN      23000.0         None  ...        None
18745            n             NaN      40000.0         None  ...        None
18746            n             NaN       1620.0         None  ...        None

      food_stamp_2014 SS_2014 welfare_2014 w_c_2014 HELC_2014 tenure_2014  \
0                   n       1         None     None         n         own
1                   y       1         None     None         n         own
2                   y       0         None     None         n         own
3                   n       1         None     None         y         own
4                   n       1         None     None         n         own
...               ...     ...          ...      ...       ...         ...
18742               n    None         None     None      None       other
18743               n    None         None     None      None       other
18744               n    None         None     None      None        rent
18745               n    None         None     None         n         own
18746               n       1         None     None         n         own

      rooms_2014 kitch_2014 num_person_2014
0           None       None               1
1           None       None               1
2           None       None               1
3           None       None               1
4           None       None               2
...          ...        ...             ...
18742       None       None               2
18743       None       None               2
18744       None       None               1
18745       None       None               1
18746       None       None               1

[18747 rows x 22 columns]

In [28]:
# 2016, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16N_R.DA', mode='r').read()))

data_2016_R = pd.DataFrame()
for i in range(20912):
    age = int_limit(''.join(A_R[(70 * i + 43) : (70 * i + 46)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(785 * i + 35) : (785 * i + 39)]), 3500)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(''.join(N_R[785 * i + 39]), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(785 * i + 338) : (785 * i + 344)]), 120000)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(''.join(N_R[785 * i + 344]), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(70 * i) : (70 * i + 6)]),
        'pn': ''.join(A_R[(70 * i + 6) : (70 * i + 9)]),
        'age_2016': age,
        'gender_2016': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[478 * i + 20]), None),
        'hh_size_2016': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[281 * i + 275]), None),
        'hl_sta_2016': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[341 * i + 22]), None),
        'cnhMove_2016': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[70 * i + 47]), None),
        'mdc_expen_2016': mdc_expen
    }, index=[0])
    data_2016_R = pd.concat([data_2016_R, new], ignore_index=True)

# alter_data_2016_R = data_2016_R.dropna()
alter_data_2016_R = data_2016_R
maps = alter_data_2016_R['mdc_expen_2016'].groupby(alter_data_2016_R['id']).mean()
alter_data_2016_R = alter_data_2016_R.drop(['mdc_expen_2016'], axis=1)
alter_data_2016_R = alter_data_2016_R.merge(maps, how='inner', on='id')

# 2016, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2016\h16da\H16H_H.DA', mode='r').read()))

data_2016_H = pd.DataFrame()
for i in range(15023):
    ss = int_limit(''.join(Q_H[(2367 * i + 344) : (2367 * i + 348)]), 9998)
    p = int_limit(''.join(Q_H[(2367 * i + 903) : (2367 * i + 908)]), 99998)
    o = int_limit(''.join(Q_H[(2367 * i + 1015) : (2367 * i + 1019)]), 9998)
    ann = int_limit(''.join(Q_H[(2367 * i + 1188) : (2367 * i + 1193)]), 99998)
    un_c = int_limit(''.join(Q_H[(2367 * i + 264) : (2367 * i + 269)]), 99998)
    w_c = int_limit(''.join(Q_H[(2367 * i + 304) : (2367 * i + 309)]), 99998)
    ssi = int_limit(''.join(Q_H[(2367 * i + 395) : (2367 * i + 399)]), 9998)
    wel = int_limit(''.join(Q_H[(2367 * i + 420) : (2367 * i + 425)]), 99998)
    vbmp = int_limit(''.join(Q_H[(2367 * i + 441) : (2367 * i + 446)]), 99998)
    li1 = int_limit(''.join(Q_H[(2367 * i + 31) : (2367 * i + 39)]), 99999998)
    li2 = int_limit(''.join(Q_H[(2367 * i + 56) : (2367 * i + 64)]), 99999998)
    li3 = int_limit(''.join(Q_H[(2367 * i + 81) : (2367 * i + 88)]), 9999998)
    li4 = int_limit(''.join(Q_H[(2367 * i + 105) : (2367 * i + 111)]), 999998)
    li5 = int_limit(''.join(Q_H[(2367 * i + 127) : (2367 * i + 133)]), 999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2367 * i + 2157) : (2367 * i + 2165)]), 99999998)
    price = int_limit(''.join(H_H[(592 * i + 256) : (592 * i + 264)]), 99999998)
    value = int_limit(''.join(H_H[(592 * i + 41) : (592 * i + 48)]), 9999998)
    s = transfer(price) if price else None
    food_stamp = { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(Q_H[2367 * i + 1693]), None) # JQ400
    rooms = int_limit(''.join(H_H[(592 * i + 439) : (592 * i + 441)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2367 * i) : (2367 * i + 6)]),
        'subhh': ''.join(Q_H[2367 * i + 6]),  
        'income_2016': income,
        'fs_hold_2016': fs_hold,
        'h_price_2016': price,
        'h_value_2016': value,
        'h_size_2016': s,
        'food_stamp_2016': food_stamp,
        'SS_2016': 1 if ss else ss,
        'welfare_2016': 1 if wel else wel,
        'w_c_2016': 1 if w_c else w_c,
        'HELC_2016': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[592 * i + 210]), None),
        'tenure_2016': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[592 * i + 30]), None),
        'rooms_2016': rooms,
        'kitch_2016': { '1': 'y', '2': 'y', '3': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(H_H[592 * i + 438]), None)
    }, index=[0])
    data_2016_H = pd.concat([data_2016_H, new], ignore_index=True)
    
# alter_data_2016_H = data_2016_H.dropna()
alter_data_2016_H = data_2016_H
maps = alter_data_2016_H['income_2016'].groupby(alter_data_2016_H['id']).mean()
alter_data_2016 = alter_data_2016_R.merge(maps, how='inner', on='id')
alter_data_2016['income_2016'] = alter_data_2016.apply(lambda x: x['income_2016'] if x['hh_size_2016'] == 1 else x['income_2016'] * 1.48, axis=1)
maps = alter_data_2016_H.drop(['subhh', 'income_2016'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2016 = alter_data_2016.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2016['id'].unique(), 'num_person_2016': alter_data_2016['id'].groupby(alter_data_2016['id']).size().values})
alter_data_2016 = alter_data_2016.merge(maps, how='inner', on='id')
print(alter_data_2016)

           id   pn  age_2016 gender_2016 hh_size_2016 hl_sta_2016  \
0      010001  010        76        Male            1           1
1      010003  030        60      Female            1           2
2      010004  040        70      Female            1           1
3      010013  040        68      Female            1           1
4      010038  010        79        Male            2           1
...       ...  ...       ...         ...          ...         ...
20907  923525  010        59      Female            2           3
20908  923525  020        61        Male            2           2
20909  952836  010        56      Female            1           1
20910  958361  010        51        Male            1           1
20911  959738  010        65        Male            1           2

      cnhMove_2016  mdc_expen_2016  income_2016 fs_hold_2016  ... h_size_2016  \
0                n             NaN       1800.0         None  ...        None
1                n             NaN       1600.0         None  ...           1
2                n          1800.0       1800.0         None  ...        None
3                n             NaN       1100.0         None  ...        None
4                n          1000.0       2960.0         None  ...        None
...            ...             ...          ...          ...  ...         ...
20907            n             NaN       3996.0         None  ...        None
20908            n             NaN       3996.0         None  ...        None
20909            n             NaN      24000.0         None  ...        None
20910            n             NaN      60000.0         None  ...        None
20911            n          1200.0       1650.0       500000  ...        None

      food_stamp_2016 SS_2016 welfare_2016 w_c_2016 HELC_2016 tenure_2016  \
0                   n       1         None     None      None        rent
1                   y       1         None     None         n         own
2                   n       1         None     None         n         own
3                   n       1         None     None         n         own
4                   n       1         None     None         n         own
...               ...     ...          ...      ...       ...         ...
20907               n    None         None     None         n         own
20908               n    None         None     None         n         own
20909               n    None         None     None      None       other
20910               n    None         None     None         n         own
20911               n       1         None     None      None        rent

      rooms_2016 kitch_2016 num_person_2016
0           None       None               1
1              1          y               1
2           None       None               1
3           None       None               1
4           None       None               2
...          ...        ...             ...
20907       None       None               2
20908       None       None               2
20909       None       None               1
20910       None       None               1
20911          6          n               1

[20912 rows x 22 columns]

In [29]:
# 2018, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18N_R.DA', mode='r').read()))

data_2018_R = pd.DataFrame()
for i in range(17146):
    age = int_limit(''.join(A_R[(75 * i + 44) : (75 * i + 47)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(921 * i + 45) : (921 * i + 50)]), 12000, 0)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(str(int_limit(''.join(N_R[(921 * i + 50) : (921 * i + 52)]))), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(921 * i + 400) : (921 * i + 406)]), 100000, 0)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(str(int_limit(''.join(N_R[(921 * i + 406) : (921 * i + 408)]))), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(75 * i) : (75 * i + 6)]),
        'pn': ''.join(A_R[(75 * i + 6) : (75 * i + 9)]),
        'age_2018': age,
        'gender_2018': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[489 * i + 20]), None),
        'hh_size_2018': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[294 * i + 287]), None),
        'hl_sta_2018': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(str(int(''.join(C_R[(514 * i + 23) : (514 * i + 25)]))), None),
        'cnhMove_2018': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[75 * i + 47]), None),
        'mdc_expen_2018': mdc_expen
    }, index=[0])
    data_2018_R = pd.concat([data_2018_R, new], ignore_index=True)

# alter_data_2018_R = data_2018_R.dropna()
alter_data_2018_R = data_2018_R
maps = alter_data_2018_R['mdc_expen_2018'].groupby(alter_data_2018_R['id']).mean()
alter_data_2018_R = alter_data_2018_R.drop(['mdc_expen_2018'], axis=1)
alter_data_2018_R = alter_data_2018_R.merge(maps, how='inner', on='id')

# 2018, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2018\h18da\H18H_H.DA', mode='r').read()))

data_2018_H = pd.DataFrame()
for i in range(12467):
    ss = int_limit(''.join(Q_H[(2602 * i + 358) : (2602 * i + 363)]), 99998)
    p = int_limit(''.join(Q_H[(2602 * i + 990) : (2602 * i + 995)]), 99998)
    o = int_limit(''.join(Q_H[(2602 * i + 1113) : (2602 * i + 1119)]), 999998)
    ann = int_limit(''.join(Q_H[(2602 * i + 1306) : (2602 * i + 1311)]), 99998)
    un_c = int_limit(''.join(Q_H[(2602 * i + 276) : (2602 * i + 281)]), 99998)
    w_c = int_limit(''.join(Q_H[(2602 * i + 318) : (2602 * i + 323)]), 99998)
    ssi = int_limit(''.join(Q_H[(2602 * i + 414) : (2602 * i + 419)]), 99998)
    wel = int_limit(''.join(Q_H[(2602 * i + 442) : (2602 * i + 447)]), 99998)
    vbmp = int_limit(''.join(Q_H[(2602 * i + 465) : (2602 * i + 469)]), 9998)
    li1 = int_limit(''.join(Q_H[(2602 * i + 36) : (2602 * i + 43)]), 9999998)
    li2 = int_limit(''.join(Q_H[(2602 * i + 61) : (2602 * i + 67)]), 999998)
    li3 = int_limit(''.join(Q_H[(2602 * i + 85) : (2602 * i + 92)]), 9999998)
    li4 = int_limit(''.join(Q_H[(2602 * i + 110) : (2602 * i + 116)]), 999998)
    li5 = int_limit(''.join(Q_H[(2602 * i + 133) : (2602 * i + 138)]), 99998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2602 * i + 2353) : (2602 * i + 2360)]), 9999998)
    price = int_limit(''.join(H_H[(760 * i + 288) : (760 * i + 296)]), 99999998)
    value = int_limit(''.join(H_H[(760 * i + 45) : (760 * i + 55)]), 9999999998)
    s = transfer(price) if price else None
    food_stamp = { '01': 'y', '05': 'n', '08': 'dk', '09': 'rf' }.get(''.join(Q_H[(2602 * i + 1900) : (2602 * i + 1902)]), None)
    rooms = int_limit(''.join(H_H[(760 * i + 518) : (760 * i + 520)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2602 * i) : (2602 * i + 6)]),
        'subhh': ''.join(Q_H[2602 * i + 6]),
        'income_2018': income,
        'fs_hold_2018': fs_hold,
        'h_price_2018': price,
        'h_value_2018': value,
        'h_size_2018': s,
        'food_stamp_2018': food_stamp,
        'SS_2018': 1 if ss else ss,
        'welfare_2018': 1 if wel else wel,
        'w_c_2018': 1 if w_c else w_c,
        'HELC_2018': { '01': 'y', '05': 'n', '08': 'dk', '09': 'rf' }.get(''.join(H_H[(760 * i + 237) : (760 * i + 239)]), None),
        'tenure_2018': { '01': 'own', '02': 'rent', '03': 'other', '07': 'other', '08': 'dk', '09': 'rf' }.get(''.join(H_H[(760 * i + 31) : (760 * i + 33)]), None),
        'rooms_2018': rooms,
        'kitch_2018': { '01': 'y', '02': 'y', '03': 'y', '05': 'n', '08': 'dk', '09': 'rf' }.get(''.join(H_H[(760 * i + 516) : (760 * i + 518)]), None)
    }, index=[0])
    data_2018_H = pd.concat([data_2018_H, new], ignore_index=True)
    
# alter_data_2018_H = data_2018_H.dropna()
alter_data_2018_H = data_2018_H
maps = alter_data_2018_H['income_2018'].groupby(alter_data_2018_H['id']).mean()
alter_data_2018 = alter_data_2018_R.merge(maps, how='inner', on='id')
alter_data_2018['income_2018'] = alter_data_2018.apply(lambda x: x['income_2018'] if x['hh_size_2018'] == 1 else x['income_2018'] * 1.48, axis=1)
maps = alter_data_2018_H.drop(['subhh', 'income_2018'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2018 = alter_data_2018.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2018['id'].unique(), 'num_person_2018': alter_data_2018['id'].groupby(alter_data_2018['id']).size().values})
alter_data_2018 = alter_data_2018.merge(maps, how='inner', on='id')
print(alter_data_2018)

           id   pn  age_2018 gender_2018 hh_size_2018 hl_sta_2018  \
0      010003  030        62      Female            1           1
1      010004  040        72      Female            2           1
2      010013  040        70      Female            1           1
3      010038  010        81        Male            2           1
4      010038  040        75      Female            2           1
...       ...  ...       ...         ...          ...         ...
17141  923498  010        62      Female            1           1
17142  923525  010        61      Female            2           2
17143  923525  020        63        Male            2           1
17144  952836  010        58      Female            1           1
17145  959738  010        67        Male            1           2

      cnhMove_2018  mdc_expen_2018  income_2018 fs_hold_2018  ... h_size_2018  \
0                n             NaN       1400.0         None  ...        None
1                n          2200.0       2220.0         None  ...        None
2                n             NaN       1100.0         None  ...        None
3                n           900.0       2960.0         None  ...        None
4                n           900.0       2960.0         None  ...        None
...            ...             ...          ...          ...  ...         ...
17141            n             NaN      32995.0         None  ...        None
17142            n           840.0      55204.0         None  ...        None
17143            n           840.0      55204.0         None  ...        None
17144            n             NaN      23000.0         None  ...        None
17145            n             NaN       1600.0         None  ...        None

      food_stamp_2018 SS_2018 welfare_2018 w_c_2018 HELC_2018 tenure_2018  \
0                   y       1         None     None         n         own
1                   n       1         None     None         n         own
2                   n       1         None     None         n         own
3                   n       1         None     None         n         own
4                   n       1         None     None         n         own
...               ...     ...          ...      ...       ...         ...
17141               n       1         None     None      None        rent
17142               n       1         None     None         n         own
17143               n       1         None     None         n         own
17144               n    None         None     None         n         own
17145               n       1         None     None         n         own

      rooms_2018 kitch_2018 num_person_2018
0           None       None               1
1           None       None               1
2           None       None               1
3           None       None               2
4           None       None               2
...          ...        ...             ...
17141       None       None               1
17142       None       None               2
17143       None       None               2
17144       None       None               1
17145       None       None               1

[17146 rows x 22 columns]

In [30]:
# 2020, 以 respondent 為單位的回答
A_R = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20A_R.DA', mode='r').read()))
B_R = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20B_R.DA', mode='r').read()))
C_R = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20C_R.DA', mode='r').read()))
PR_R = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20PR_R.DA', mode='r').read()))
N_R = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20N_R.DA', mode='r').read()))

data_2020_R = pd.DataFrame()
for i in range(15723):
    age = int_limit(''.join(A_R[(75 * i + 44) : (75 * i + 47)]), 200)
    healthcare_AMT = float_limit(''.join(N_R[(796 * i + 43) : (796 * i + 48)]), 35170, 0)
    healthcare_freq = { '1': 12, '2': 4, '3': 2, '4': 1 }.get(str(int_limit(''.join(N_R[(796 * i + 48) : (796 * i + 50)]))), 0)
    healthcare = healthcare_AMT * healthcare_freq if healthcare_AMT else 0
    LTC_AMT = float_limit(''.join(N_R[(796 * i + 339) : (796 * i + 345)]), 100000, 0)
    LTC_freq = { '1': 12, '2': 4, '3': 52, '4': 1, '6': 1 }.get(str(int_limit(''.join(N_R[(796 * i + 345) : (796 * i + 347)]))), 0)
    LTC = LTC_AMT * LTC_freq if LTC_AMT else 0
    mdc_expen = healthcare + LTC if healthcare_AMT or LTC_AMT else None
    
    new = pd.DataFrame({
        'id': ''.join(A_R[(75 * i) : (75 * i + 6)]),
        'pn': ''.join(A_R[(75 * i + 6) : (75 * i + 9)]),
        'age_2020': age,
        'gender_2020': { '1': 'Male', '2': 'Female' }.get(''.join(PR_R[492 * i + 20]), None),
        'hh_size_2020': { '1': 2, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1 }.get(''.join(B_R[309 * i + 301]), None),
        'hl_sta_2020': { '1': 1, '2': 1, '3': 2, '4': 2, '5': 3 }.get(''.join(C_R[479 * i + 23]), None),
        'cnhMove_2020': { '1': 'y', '5': 'n', '8': 'dk', '9': 'rf' }.get(''.join(A_R[75 * i + 47]), None),
        'mdc_expen_2020': mdc_expen
    }, index=[0])
    data_2020_R = pd.concat([data_2020_R, new], ignore_index=True)

# alter_data_2020_R = data_2020_R.dropna()
alter_data_2020_R = data_2020_R
maps = alter_data_2020_R['mdc_expen_2020'].groupby(alter_data_2020_R['id']).mean()
alter_data_2020_R = alter_data_2020_R.drop(['mdc_expen_2020'], axis=1)
alter_data_2020_R = alter_data_2020_R.merge(maps, how='inner', on='id')

# 2020, 以 household 為單位的回答
Q_H = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20Q_H.DA', mode='r').read()))
H_H = np.array(list(open('D:\Desktop\imf\專題\data\\2020\h20da\H20H_H.DA', mode='r').read()))

data_2020_H = pd.DataFrame()
for i in range(11480):
    ss = int_limit(''.join(Q_H[(2598 * i + 357) : (2598 * i + 362)]), 99998)
    p = int_limit(''.join(Q_H[(2598 * i + 992) : (2598 * i + 997)]), 99998)
    o = int_limit(''.join(Q_H[(2598 * i + 1115) : (2598 * i + 1121)]), 9998)
    ann = int_limit(''.join(Q_H[(2598 * i + 1302) : (2598 * i + 1307)]), 99998)
    un_c = int_limit(''.join(Q_H[(2598 * i + 277) : (2598 * i + 282)]), 99998)
    w_c = int_limit(''.join(Q_H[(2598 * i + 318) : (2598 * i + 323)]), 99998)
    ssi = int_limit(''.join(Q_H[(2598 * i + 413) : (2598 * i + 418)]), 9998)
    wel = int_limit(''.join(Q_H[(2598 * i + 441) : (2598 * i + 446)]), 99998)
    vbmp = int_limit(''.join(Q_H[(2598 * i + 463) : (2598 * i + 468)]), 99998)
    li1 = int_limit(''.join(Q_H[(2598 * i + 35) : (2598 * i + 42)]), 9999998)
    li2 = int_limit(''.join(Q_H[(2598 * i + 60) : (2598 * i + 67)]), 999998)
    li3 = int_limit(''.join(Q_H[(2598 * i + 85) : (2598 * i + 92)]), 999998)
    li4 = int_limit(''.join(Q_H[(2598 * i + 110) : (2598 * i + 116)]), 999998)
    li5 = int_limit(''.join(Q_H[(2598 * i + 133) : (2598 * i + 139)]), 999998)
    filter_list = filter(None, [ss, p, o, ann, un_c, w_c, ssi, wel, vbmp, li1, li2, li3, li4, li5])
    income = sum(filter_list) if filter_list else None
    fs_hold = int_limit(''.join(Q_H[(2598 * i + 2342) : (2598 * i + 2349)]), 9999998)
    price = int_limit(''.join(H_H[(698 * i + 275) : (698 * i + 283)]), 9999998)
    value = int_limit(''.join(H_H[(698 * i + 39) : (698 * i + 49)]), 999999998)
    s = transfer(price) if price else None
    food_stamp = { '01': 'y', '05': 'n', '08': 'dk', '09': 'rf' }.get(''.join(Q_H[(2598 * i + 1896) : (2598 * i + 1898)]), None)
    rooms = int_limit(''.join(H_H[(698 * i + 486) : (698 * i + 488)]), 97)
    new = pd.DataFrame({
        'id': ''.join(Q_H[(2598 * i) : (2598 * i + 6)]),
        'subhh': ''.join(Q_H[2598 * i + 6]),
        'income_2020': income,
        'fs_hold_2020': fs_hold,
        'h_price_2020': price,
        'h_value_2020': value,
        'h_size_2020': s,
        'food_stamp_2020': food_stamp,
        'SS_2020': 1 if ss else ss,
        'welfare_2020': 1 if wel else wel,
        'w_c_2020': 1 if w_c else w_c,
        'HELC_2020': { '01': 'y', '05': 'n', '08': 'dk', '09': 'rf' }.get(''.join(H_H[(698 * i + 224) : (698 * i + 226)]), None),
        'tenure_2020': { '1': 'own', '2': 'rent', '3': 'other', '7': 'other', '8': 'dk', '9': 'rf' }.get(''.join(H_H[698 * i + 30]), None),
        'rooms_2020': rooms,
        'kitch_2020': { '01': 'y', '02': 'y', '03': 'y', '05': 'n', '08': 'dk', '09': 'rf' }.get(''.join(H_H[698 * i + 485]), None)
    }, index=[0])
    data_2020_H = pd.concat([data_2020_H, new], ignore_index=True)
    
# alter_data_2020_H = data_2020_H.dropna()
alter_data_2020_H = data_2020_H
maps = alter_data_2020_H['income_2020'].groupby(alter_data_2020_H['id']).mean()
alter_data_2020 = alter_data_2020_R.merge(maps, how='inner', on='id')
alter_data_2020['income_2020'] = alter_data_2020.apply(lambda x: x['income_2020'] if x['hh_size_2020'] == 1 else x['income_2020'] * 1.48, axis=1)
maps = alter_data_2020_H.drop(['subhh', 'income_2020'], axis=1)
maps.drop_duplicates(subset=['id'], keep='first', inplace=True)
alter_data_2020 = alter_data_2020.merge(maps, how='inner', on='id')
maps = pd.DataFrame({'id': alter_data_2020['id'].unique(), 'num_person_2020': alter_data_2020['id'].groupby(alter_data_2020['id']).size().values})
alter_data_2020 = alter_data_2020.merge(maps, how='inner', on='id')
print(alter_data_2020)

           id   pn  age_2020 gender_2020 hh_size_2020 hl_sta_2020  \
0      010003  030        64      Female            1           1
1      010004  040        73      Female            1           2
2      010013  040        72      Female            1           2
3      010038  010        83        Male            2           1
4      010038  040        77      Female            2           1
...       ...  ...       ...         ...          ...         ...
15707  920736  010        63        Male            2           2
15708  920736  020        46      Female            2           1
15709  920753  010        60      Female            2           2
15710  920753  020        76        Male            2           2
15711  920759  020        56      Female            1           1

      cnhMove_2020  mdc_expen_2020  income_2020 fs_hold_2020  ... h_size_2020  \
0                n             NaN      1120.00         None  ...        None
1                n          4000.0      1800.00         None  ...        None
2                n          3600.0      7200.00         None  ...        None
3                n           854.0      3294.48         None  ...        None
4                n           854.0      3294.48         None  ...        None
...            ...             ...          ...          ...  ...         ...
15707            n             NaN       162.80         None  ...        None
15708            n             NaN       162.80         None  ...        None
15709            n             NaN      1678.32         None  ...        None
15710            n             NaN      1678.32         None  ...        None
15711            n             NaN         0.00         None  ...        None

      food_stamp_2020 SS_2020 welfare_2020 w_c_2020 HELC_2020 tenure_2020  \
0                   y       1         None     None         y         own
1                   n       1         None     None         n         own
2                   n       1         None     None         n         own
3                   n       1         None     None         y         own
4                   n       1         None     None         y         own
...               ...     ...          ...      ...       ...         ...
15707               n    None         None     None         n         own
15708               n    None         None     None         n         own
15709               n       1         None     None      None        rent
15710               n       1         None     None      None        rent
15711               n    None         None     None      None        rent

      rooms_2020 kitch_2020 num_person_2020
0           None       None               1
1           None       None               1
2           None       None               1
3           None       None               2
4           None       None               2
...          ...        ...             ...
15707       None       None               2
15708       None       None               2
15709       None       None               2
15710       None       None               2
15711       None       None               1

[15712 rows x 22 columns]

In [32]:
for year in range(1996, 2022, 2):
    try:
        temp = globals()[f'alter_data_{year}']
        print([year, temp.shape[0]] + list(temp.isna().sum()))
    except:
        print(year)

[1996, 10964, 0, 0, 79, 4, 0, 5, 0, 9669, 0, 10456, 10964, 2623, 10964, 96, 7921, 10852, 10821, 1873, 1215, 9011, 9011, 0]
[1998, 21384, 0, 0, 0, 0, 0, 6, 0, 13669, 0, 20703, 21384, 14480, 21384, 217, 10794, 21245, 21223, 4517, 2436, 14926, 14909, 0]
[2000, 19580, 0, 0, 0, 0, 0, 8, 0, 12505, 0, 19004, 19580, 19580, 19580, 138, 9048, 19502, 19444, 4072, 2216, 17398, 17383, 0]
[2002, 18167, 0, 0, 70, 0, 34, 11, 0, 14305, 0, 17240, 16445, 4832, 16509, 45, 7254, 18098, 18110, 3843, 2134, 15388, 15373, 0]
[2004, 20129, 0, 0, 195, 0, 44, 17, 0, 17184, 0, 18873, 16313, 5481, 16326, 89, 8104, 20031, 20042, 4338, 2278, 14725, 14710, 0]
[2006, 18469, 0, 0, 0, 0, 47, 25, 0, 15529, 0, 17429, 17219, 5012, 17229, 64, 6680, 18395, 18405, 4010, 2062, 16125, 16114, 0]
[2008, 17217, 0, 0, 0, 0, 32, 14, 0, 14114, 0, 16306, 16233, 4657, 16237, 82, 5835, 17135, 17163, 3729, 1934, 15292, 15282, 0]
[2010, 22034, 0, 0, 0, 0, 63, 11, 0, 19276, 0, 20736, 17579, 7125, 17601, 424, 10460, 21887, 21925, 6006, 2502, 14366, 14341, 0]
[2012, 20554, 0, 0, 0, 1, 52, 21, 0, 18795, 0, 19357, 16541, 6627, 16561, 171, 9167, 20412, 20472, 5570, 2340, 14327, 14313, 0]
[2014, 18747, 0, 0, 0, 0, 66, 16, 124, 15131, 0, 17539, 17839, 6194, 17841, 194, 7912, 18615, 18669, 5222, 1710, 16421, 16395, 0]
[2016, 20912, 0, 0, 0, 0, 82, 24, 0, 16901, 0, 19416, 17543, 7624, 17558, 380, 10342, 20735, 20819, 6591, 2006, 14522, 14480, 0]
[2018, 17146, 0, 0, 0, 0, 80, 11, 0, 13640, 0, 16002, 15964, 6272, 15983, 410, 7962, 17030, 17093, 5385, 1587, 14595, 14576, 0]
[2020, 15712, 0, 0, 0, 4, 76, 19, 0, 12483, 0, 14546, 14615, 6728, 14642, 466, 6891, 15631, 15653, 4943, 2149, 13230, 15712, 0]

In [31]:
for year in range(1996, 2022, 2):
    try:
        temp = globals()[f'alter_data_{year}']
        file_name = f'HRS_{year}.csv'
        temp.to_csv(file_name, index=False)
    except:
        print(year)